[2018-02-28 23:58] bellaweo opened #3 "Manage Api Tokens"
This token is used to enable applications to use the Okta API. It involves creating a service account with limited permissions to create a token. This procedure is cumbersome to say the least, but I was not able to find anything better. 😕

    Log into the Okta Admin Console with your Super-Admin account.
    In the upper-left hand corner, click the dropdown & select "Classic UI"
    On the "Dashb

[2018-02-28 23:59] bellaweo opened #4 "Add Custom User Profile Field"
Log into the Okta Admin Console with your Super-Admin account. Ensure that you are in the "Developer Console" in the upper left corner.
    Goto Users > Profile Editor.
    Find the "User" profile & click the "Profile". Users
    Click the "Add Attribute" button. Fill out the form with the following values & click "save"
        Display Name: "Tenant ID"
        Variable Name: "tenantId"
        D

[2018-02-28 23:59] bellaweo opened #5 "Add Tenant Scope & Claim"
Add Scope

    Goto API > Authentication Servers
    Click the "default" server
    Click on the "Scopes" tab
    Click on the "Add Scope Button"
    Add a new "tenant" scope. Do not set in as the default scope.

Add Claim

    Goto API > Authentication Servers
    Click the "default" server
    Click on the "Claims" tab.
    Click "Add Claim"
    Fill out the form & click "Create"
        Name: "

[2018-03-01 00:00] bellaweo opened #6 "Extend Session Lifetime"
Log into the Okta Admin Console with your Super-Admin account. Ensure that you are in the "Classic UI" in the upper left corner.
    In the header, goto "Security" > "Authentication"
    Goto the "Sign On" tab
    Click the "Add new Okta Sign-on Policy Button"
    Fill out the form &. Give the policy a name set "And Session Lifetime is" to the desired value. The default values for the rest of the

[2018-03-01 00:10] bellaweo opened #7 "Manage Users"
User Create / Update / Delete

Profile support for first name & last name only

[2018-03-01 00:12] bellaweo commented on #7
https://github.com/articulate/terraform-provider-okta/pull/1

[2018-03-01 00:12] #7 closed

[2018-03-01 00:14] bellaweo opened #8 "Manage User Roles"
Support for the moment is only to add a single role for a user

[2018-03-01 00:14] bellaweo commented on #8
https://github.com/articulate/terraform-provider-okta/pull/2

[2018-03-01 00:14] #8 closed

[2018-03-01 00:16] bellaweo opened #9 "Document Terraform Resources"
ideally, can we automate this?

Continue to add examples with links in the README as tests are written but long term make a site similar to other providers. Terraform currently hand spins all of their docs :-( and while writing a generator is the right approach it may not be time efficient.

[2018-03-01 00:39] bellaweo opened #10 "Add MFA to Users Management"

[2018-03-01 00:39] bellaweo opened #11 "Manage Groups"

[2018-03-01 14:58] fromonesrc opened #12 "Add MFA requirement to employee accounts"
If we can enforce this via the API, it would be ideal to require MFA for any employees logging into Okta.

[2018-03-01 14:59] fromonesrc commented on #10
This will be handled by Rise at runtime (for users/customers). We'll still need something to [enforce employee MFA](https://github.com/articulate/terraform-provider-okta/issues/12).

[2018-03-01 15:00] fromonesrc commented on #11
This will be handled by Rise at runtime

[2018-03-01 15:34] bellaweo commented on #11
the open source terraform provider still needs to support groups management

[2018-03-01 15:34] bellaweo commented on #12
this is a duplicate of #10

[2018-03-01 15:34] #12 closed

[2018-03-01 15:37] fromonesrc opened #13 "SSO configuration"

[2018-03-01 15:40] bellaweo commented on #13
this topic needs to be broken down into multiple issues with priorities.

[2018-03-01 18:08] #13 closed

[2018-03-11 21:59] bellaweo commented on #6
looking at the articulate-dev-admin account, I see there are manual entries for policies not described in the wiki doc (https://github.com/articulate/rise.com/wiki/Okta-Integration). so i will expand this issue to include support for all api endpoints for okta policies

[2018-04-02 00:45] bellaweo commented on #6
https://github.com/articulate/oktasdk-go/pull/5

[2018-04-08 22:04] bellaweo opened #14 "Policies & Rules: add support to convert IDs to names"
Policy & Rule People conditions require a user or group id to include or exclude. add support in terraform tf file to use group name & have the code convert that to the id.

requires groups to be completed: https://github.com/articulate/terraform-provider-okta/issues/11

[2018-04-08 22:56] bellaweo commented on #3
support for users & roles complete but api endpoint to create api tokens are not available at this time.

[2018-04-08 22:56] #3 closed

[2018-04-24 05:41] bellaweo opened #15 "Administrator Roles: add support for role targets"
https://developer.okta.com/docs/api/resources/roles

App Roles

[2018-04-24 05:44] bellaweo commented on #14
added a data source to query the Everyone group. Atm just retrieving the group ID but room to expand. will want to add to policy test to update with a newly created group.

[2018-04-24 05:44] #14 closed

[2018-04-24 05:45] bellaweo commented on #11
TODO after groups support is integrated into the provider:

add support in the policies test suite to add a new group and update a policy to use that new group

[2018-04-24 05:47] bellaweo opened #16 "Tests: Test results should be compared to the Okta resource"
Add support in our tests to verify the values in the Okta resource correspond with the test results

[2018-04-24 05:55] bellaweo opened #17 "Tests: People Users condtion exclude for policy rules"
add support to test the people users condition exclude field in a policy rule

[2018-04-24 23:03] bellaweo opened #18 "Tests: EOF timeouts"
Intermittent EOF timeouts running tests. The suite is getting pretty big so may need to investigate a delay between acceptance tests?

[2018-04-25 01:01] bellaweo opened #19 "Policies: add support for Mfa Policy type"
https://developer.okta.com/docs/api/resources/policy#OktaMFAPolicy

depends on: https://github.com/articulate/oktasdk-go/issues/7

[2018-04-25 01:05] bellaweo opened #20 "Policies: add support for OAuth Auhorization Policy"
https://developer.okta.com/docs/api/resources/authorization-servers#policy-object

depends on: https://github.com/articulate/oktasdk-go/issues/6

[2018-04-25 01:09] bellaweo opened #21 "Policies: add support for AuthProvider condition"
requires Active Directory support in https://github.com/articulate/oktasdk-go

[2018-04-25 01:13] bellaweo opened #22 "PolicyRules: add support for Mfa Rules"
https://developer.okta.com/docs/api/resources/policy#multifactor-rules-action-data

depends on: https://github.com/articulate/terraform-provider-okta/issues/19

[2018-04-25 01:15] bellaweo opened #23 "PolicyRules: add support for Network Include & Exclude Conditions"
requires the zone api support in https://github.com/articulate/oktasdk-go

depends on: https://github.com/articulate/oktasdk-go/issues/8

[2018-04-25 01:21] bellaweo opened #24 "PolicyRules: add Radius support for authtype condition"
I'm actually not sure atm what needs to happen in the Okta api to support setting a signon rule auth type to RADIUS. Right now that functionality is disabled.

[2018-04-25 01:26] bellaweo opened #25 "PolicyRules: enable Signon rule Mfa support"
Currently the signon rule actions requiremfa, mfaprompt, remembermfadevice, & mfalifetime are disabled.

Its likely this should be enabled when Mfa support is added to the provider. So likely depends on https://github.com/articulate/terraform-provider-okta/issues/22

[2018-05-22 16:34] bellaweo commented on #4
https://github.com/articulate/oktasdk-go/pull/17

[2018-05-30 18:24] bellaweo commented on #4
https://github.com/articulate/terraform-provider-okta/pull/29

[2018-05-30 18:27] bellaweo opened #30 "UserBaseProfile: validate fields in terraform schema"
per the validation field here: https://developer.okta.com/docs/api/resources/schemas#user-profile-base-subschema

currently, added to CustomizeDiff for the users resource tests to check login & primary email addresses are formatted as emails. there are a few more fields to validate per the chart linked above.

[2018-05-30 18:30] bellaweo opened #31 "UserBaseProfile: add support to update Base fields permissions"
user profile api update: https://developer.okta.com/docs/api/resources/schemas#update-user-profile-schema-property
supports update subschema permissions & the nullability of the firstName and lastName subschemas
add this support to the TF provider

[2018-05-30 22:22] bellaweo opened #32 "Query the Schema fields directly when iterating through them"
So far prevalent in the users, policy, & policy rules resources.

Schema fields are hardcoded (for example)
[code]

We *should* be able to query the schema.ResourceData pointer to get the list of schema fields? that data type is not indexed tho.

[2018-06-05 16:34] bellaweo opened #33 "Add support for CORS trusted origins"
Add the base rise.com (and dev.rise.com) URLs to the list of trusted origins.

    Log into the Okta Admin Console with your Super-Admin account.
    Goto "API" > "Trusted Origins"
    Click the "Add Origin" button
    Fill out the fields & click save
        Name "Rise.com" (add "stage", "dev", etc if necessary)
        Origin URL "https://rise.com" (or "https://rise.zone" & "https://dev.rise.zon

[2018-06-08 20:04] ocxo opened #34 "Support for configuring Google as an auth provider"
https://developer.okta.com/authentication-guide/social-login/google

[2018-06-19 16:00] bellaweo opened #36 "Tests fail when using Go version 1.10.x"
error:

[code]
temporary fix is to force the tests phase to use golang version 1.9.x

will need to circle back and make changes to support version 1.10.x

[2018-06-19 16:05] bellaweo opened #37 "Schemas: add support to edit a base user subschema"
https://developer.okta.com/docs/api/resources/schemas#update-user-profile-schema-property

okta only supports updating permissions and the nullability of the firstName and lastName fields for the base user subschema

[2018-06-19 16:09] bellaweo opened #38 "Schemas: add support for all custom schema types"
depends on https://github.com/articulate/oktasdk-go/issues/19

TF provider currently only supports custom types string and string array.

need to add support for boolean, number, integer, and array types number, integer, & reference

[2018-06-19 16:12] #4 closed

[2018-06-19 16:13] bellaweo commented on #18
moved the tests over to a aid for instance. the timeouts issues solved for now.

will need to revisit when/if tests are run on a free oktapreview instance.

[2018-06-19 16:19] bellaweo opened #39 "Create version scheme for TF provider & oktasdk-go repo"
TF versioning must follow semantic rules: https://www.hashicorp.com/blog/hashicorp-terraform-provider-versioning

need to add the version scheme to the GnuMakefile & travis yaml file

will need to add a build stage to the travis yaml file to build the go binary & possibly copy it to the s3 bucket

[2018-06-25 17:55] bellaweo commented on #39
https://github.com/articulate/terraform-provider-okta/pull/40

[2018-06-26 20:28] Daniel-Houston opened #41 "Terraform provider contributions"
We have an okta-go-sdk and a terraform provider that is about 60-70% complete that we are thinking of open-sourcing. I would like to chat with someone about collaborating on this provider. What is the best way to do that?

[2018-06-26 20:32] bellaweo commented on #41
Oh nice! Have you chatted with the Okta devs regarding your go sdk? They are in the process of releasing their own official go sdk but it will be very sparse to begin.

I've been working on this project for a few months now and would love to chat about collaborating.

[2018-06-26 20:37] Daniel-Houston commented on #41
Yes, we have. We are waiting for their sdk to be released then are planning on releasing the provider with the sdk support. We could also release our sdk and provider and start there then slowly work toward using Okta's sdk once it is released. What is your plan? Are you waiting for their sdk to be released?

[2018-07-16 19:46] chazu opened #42 "Missing policy_rule resources crash terraform state update phase"
To reproduce -

Use terraform to create a policy and policy_rule in okta. Then delete them manually from the okta dashboard. Then terraform plan again. You should see something akin to this:

`* okta_policy_rules.extend_session_lifetime: okta_policy_rules.extend_session_lifetime: [ERROR] Error Listing Policy in Okta: HTTP Method: GET - URL: https://articulate-cstraneyoktatest.okta.com/api/v1/polic

[2018-07-24 03:20] robwaldron-flg commented on #41
@Daniel-Houston - I'd be happy to be an early user of what you have? We manage 10,000's of users and currently up to 50 applications in Okta.

[2018-07-30 19:55] fromonesrc commented on #41
@Daniel-Houston we at @articulate would love to collaborate with you on this. We're currently rolling with https://github.com/articulate/oktasdk-go/.

[2018-08-01 22:25] #36 closed

[2018-08-01 22:25] #42 closed

[2018-08-20 15:17] PurrBiscuit opened #44 "use of global `systemPolicy` var in resource_policies.go"
is this needed?  can we scope it down to be just a return value from a function?

https://github.com/articulate/terraform-provider-okta/blob/master/okta/resource_policies.go#L11

[2018-08-21 15:51] ocxo opened #45 "Configure password policy to lock out after n attempts"
https://developer.okta.com/docs/api/resources/policy#GroupPasswordPolicy

[2018-08-23 15:40] PurrBiscuit opened #47 "Generalize build pipeline for terraform providers & Document with Playbook/README update"

[2018-08-24 19:04] PurrBiscuit opened #50 "Use Google Cloud terraform provider to provision as much of the google things needed for the Oauth things in Okta"
It looks like the [Google Cloud](https://www.terraform.io/docs/providers/google/index.html) Terraform Provider could be used to manage some of the things that we are currently creating manually like:

  - Project
  - Oauth Credentials
  - Users with access to those things

Just need to figure out how to get that configured and what resources are needed to get the client_id/client_secret, etc.

[2018-08-28 15:56] tecnobrat opened #53 "Add resource for `app` to support AWS."
Needs to support the Amazon Web Services application as shown here:

![image](https://user-images.githubusercontent.com/145406/44735061-3ece5900-aaa0-11e8-945c-123b357a7201.png)

[2018-08-28 16:03] chazu opened #54 "Implement Group resource logic"
Currently the group resource is just a skeleton - implement logic for actually managing Okta groups.

[2018-08-30 03:52] PurrBiscuit opened #56 "create an `okta_app` resource to configure new applications in okta"
![](http://drops.articulate.com/74j5s7/IuiunpR8DN+)

Will need to create an OpenID Connect Okta Application to tie back to rise.com

[2018-08-31 16:54] PurrBiscuit commented on #50
this doesn't seem possible yet from what I can tell - there isn't a terraform resource for this yet and it doesn't appear to be something that is even configurable via the API directly on Google as well - https://github.com/terraform-providers/terraform-provider-google/issues/1287

[2018-09-04 14:41] chazu opened #60 "Add import functionality to groups"

[2018-09-05 18:16] PurrBiscuit commented on #33
PR to add the `TrustedOrigins` things to the oktasdk go package -> https://github.com/articulate/oktasdk-go/pull/26

[2018-09-06 15:05] PurrBiscuit opened #61 "update okta_policies and okta_policy_rules resources to be able to detect configuration drift"
creating an issue

[2018-09-07 00:39] robwaldron-flg opened #62 "Using the beta okta-go-sdk"
Hi there,

The Okta GO SDK is in beta. Should the effort be best spent on moving to that, and then no longer having to worry about attempting to implement yourself. This will also likely help with the adoption / development as the feature sets will be added quicker to the official go sdk implementation.

https://github.com/okta/okta-sdk-golang

[2018-09-07 16:09] ocxo commented on #62
Hi @robwaldron-flg thanks for the issue. Getting on the official SDK is definitely on our radar. When we started building this provider it didn't have all the API support we needed but that has likely changed. Will take a closer look!

[2018-09-07 23:03] #33 closed

[2018-09-12 13:24] PurrBiscuit opened #65 "update terraform-provider-okta to use the newly refactored policies struct from the Articulate Okta SDK"
the articulate/oktasdk-go package was [updated last week](https://github.com/articulate/oktasdk-go/pull/27) to refactor some of the structs in the policies.go file which has made it incompatible with how the `okta_policies` resource (should be renamed to `okta_policy` as well) is constructing/populating them.  We end up with errors in the terraform integration tests now around that which look like

[2018-09-12 13:34] PurrBiscuit commented on #65
steps to reproduce:

1. run `dep ensure -update` to update our `articulate/okta` package to the latest - it's currently locked to the last working version via Gopkg.lock.
2. run `TF_ACC=1 go test -v` from the `okta` directory in this repo.
3. see the panic error.

side note - you can also use delve to help debug by running `TF_ACC=1 dlv test -- -test.v`

[2018-09-12 13:37] PurrBiscuit opened #66 "add ability to add administrator users via okta_administrator resource"
add ability to add administrator users via okta_administrator resource

[2018-09-12 22:30] #65 closed

[2018-09-12 22:44] #60 closed

[2018-09-20 18:04] PurrBiscuit commented on #66
going to assign `admin_roles` as an attribute of the `okta_user` resource instead of creating a separate `okta_administrator` resource that would map roles to a existing users

[2018-09-20 20:42] #66 closed

[2018-10-03 12:43] PurrBiscuit commented on #53
sounds great!  thanks for taking this one too

[2018-10-03 14:49] #56 closed

[2018-10-04 19:27] PurrBiscuit commented on #34
closing this issue - was addressed with this PR https://github.com/articulate/terraform-provider-okta/pull/46 already

[2018-10-04 19:27] #34 closed

[2018-10-04 19:33] PurrBiscuit commented on #39
we have versioning enabled in the GNUMakefile for the provider versioning and also have some steps to `make ship` to the s3 bucket -https://github.com/articulate/terraform-provider-okta/blob/master/GNUmakefile#L1

[2018-10-04 19:33] #39 closed

[2018-10-04 19:35] PurrBiscuit commented on #44
this is no longer an issue thanks to some of the refactoring work that @quantumew has done on the policy resources - https://github.com/articulate/terraform-provider-okta/pull/72

[2018-10-04 19:35] #44 closed

[2018-10-04 19:57] PurrBiscuit commented on #16
So long as the resource `Read` functions are doing what they should be doing then configuration drift should be picked up during tests automatically.  Test flow is `terraform plan` -> `terraform apply` -> `terraform plan (with a refresh)`.  The resource's `Read` function is used during the plan/refresh which reaches out to the resource and, if using the d.Set("") ResourceData function, should be a

[2018-10-04 19:57] #16 closed

[2018-10-08 13:51] quantumew opened #80 "Official Okta SDK SAML applications Attribute Statements"
There is a bug in the Okta SDK, they have the wrong type specified for AttributeStatements and due to this, our SAML App resource cannot set Attribute Statements. Due to the low importance, it may be best to just wait for Okta SDK fix and then add it to the provider.

https://github.com/okta/okta-sdk-golang/blob/develop/okta/samlApplicationSettingsSignOn.go#L25

[2018-10-12 15:45] PurrBiscuit opened #84 "multifactor policy for all okta administrators"
Need to add the ability to create multifactor authentication policies for okta users.  We'll want to be able to assign this policy to certain groups as well.  I'm not sure the best way to handle that right now; if it should be handled by the `okta_group`, the`okta_policy` or another resource of some kind.  There will be cases where we'll want to assign it to the "Everyone" group; like the internal

[2018-10-12 15:54] quantumew opened #85 "Refactor User Schema Resource"
The User Schema does not follow best practices.

* Call read from create and update
* Do not do schema validation in CustomizeDiff
* Add exists function
* Add import functionality

[2018-10-19 05:51] robwaldron-flg opened #87 "Group Rules | New Resource"
Now that we have both Group and User resources; it'd be great if we could get one called "group_rule" so that we have the ability to define rules and users are added dynamically based on profile attributes.

[2018-10-19 13:00] quantumew commented on #87
Good call. Will drop this in the appropriate project. For reference: https://developer.okta.com/docs/api/resources/groups#group-rule-operations

[2018-10-20 03:02] robwaldron-flg commented on #87
@quantumew - I'm very new to golang (though been using terraform for a good while now). I'd be keen to take a crack at adding this resource if it's not being picked up for a while, and then work through any comments to fix?

[2018-10-21 13:52] quantumew commented on #87
@robwaldron-flg that would be great. We are always open to contributions. Let me know if you have any questions on setting up a free Okta account in order to run the acceptance tests. I will ammend the README so it has more info on this. The only other caveat is we are using two SDKs due to the official SDK not supporting some resources so clients for both are available in the metadata and there a

[2018-10-29 15:40] #53 closed

[2018-12-03 10:28] webhull opened #89 "cannot use type *bool in field value"
Hello,

I am getting the following error when trying to "make build"

cannot use &revealPass (type *bool) as type bool in field value
cannot use &autoSubmit (type *bool) as type bool in field value
cannot use &hideMobile (type *bool) as type bool in field value
cannot use &hideWeb (type *bool) as type bool in field value
../../articulate/terraform-provider-okta/okta/app.go:162:4: cannot use &hideW

[2018-12-03 13:37] quantumew commented on #89
Hello, due to the incompleteness of the official Okta SDK for Golang we have been using their develop branch. I am going to assume you pulled this down prior to that constraint being added and thus you are seeing a dependency mismatch. Running `dep ensure` should get you in working order. I will leave this open until you can confirm.

[2018-12-03 14:13] webhull commented on #89
Hello,

So, you mean you are using the develop branch of the following repos, which are stored in the app.go folder

	"github.com/okta/okta-sdk-golang/okta"
	"github.com/okta/okta-sdk-golang/okta/query"

so if I understand correctly, I should replace them with the files from their develop branch ?

[2018-12-03 14:19] quantumew commented on #89
Nope, the constraint to make this change is already in the `Gopkg.toml`, which `dep`, the thing we use to manage dependencies, will read. You will just simply have to run `dep ensure` and it should pull down the correct dependencies.

[2018-12-04 13:02] webhull commented on #89
Hello,

Thank you very much for your kind help, everything works like a charm. I will submit another issue if a problem arise.

[2018-12-04 14:42] #89 closed

[2018-12-04 15:07] webhull opened #91 "Problem with the password policy types"
Hello,

I am trying to create new password policy type, but I got the following error :

* okta_password_policy.default: [ERROR] Error Creating Policy: HTTP Method: POST - URL: https://myaccount.okta.com/api/v1/policies: - HTTP Status Code: 400, OKTA Error Code: E0000002, OKTA Error Summary: The request was not valid: **Invalid policy type specified**., OKTA Error Causes: []

The problem is there

[2018-12-04 15:38] quantumew commented on #91
Gotcha, yea I can confirm we are able to create password policies without issue. I can also confirm this feature is not Beta or EA. The final thing that occurs to me is the possibility that the error code is misleading us and this is simply a config issue. To debug this you could start by commenting out everything except the name and description and rule out the other config. You could also confir

[2018-12-04 16:51] quantumew commented on #91
I was hoping those steps would narrow down the issue. Give me a minute and I can setup a throw away example that works for me. You will want to build the binary. `make build-linux` or `make build-mac`, that will copy it to your terraform providers directory. Eventually this will be served like other providers from a registry but it hasn't been accepted to the open source one as of yet.

[2018-12-06 08:03] webhull commented on #91
Hello,

The problem has been resolved. FYI, when you create terraform code, the resource should be put as follows :

resource "okta_password_policy" "legacy" {
code
code
code
}

Means - the policy should be created as legacy.

The issue can be closed.

Thank you for your kind help!

[2018-12-11 01:51] quantumew commented on #91
Thanks for reporting back!

[2018-12-11 01:51] #91 closed

[2018-12-11 11:56] webhull opened #92 "Integrating AWS or Google app"
Hello,

Could you please provide more information about which resource needs to be used to integrate aws or google ? I went through the saml_app_test, but there seems to be a little bit info about this. Thanks in advance

[2018-12-11 14:02] quantumew commented on #92
You bet. I will add a better example today. One thing to note with AWS is they don't have a way to configure API integration via their API so there are some pieces that are still manual. I am waiting to hear when they are going to add that.

[2018-12-11 14:18] webhull commented on #92
Thanks. I will be glad to see the better example described, because at the moment it is not understandable.

[2018-12-21 20:26] quantumew opened #94 "User with PASSWORD_EXPIRED status fails"
This status should map to ACTIVE and no diff or changes should be required.

[2018-12-26 21:17] quantumew commented on #94
Corrected by simply mapping PASSWORD_EXPIRED -> ACTIVE and suppressing the diff. We will never want to update a user due to this diff.

[2018-12-26 21:17] #94 closed

[2019-01-08 21:01] cpkelley opened #97 "Error installing provider with go@1.9"
I receive the following error when building terraform-provider-okta using Go versions 1.9+:
[code]
I don't know if this is a bug or an issue with my build environment (I am a GO novice). Any guidance would be helpful.

[2019-01-08 21:04] quantumew commented on #97
This looks like a dependency discrepancy. Can you run `make deps`? Just to make sure you are getting the right constraints met. Perhaps I should add that to the build command in the make file.

[2019-01-11 16:20] quantumew opened #99 "Add Data Sources"
Add data sources for Okta resources such as Apps, Groups, Users, etc.

[2019-01-11 22:07] cpkelley opened #100 "User login attribute validation may not have an email address matching constraint"
By default, the `login` attribute for an OKTA User in the Base schema profile has a format constraint that it must match an email address. But this field constraint is configurable via the UI and can be configured to match any string. I have not found a way to configure it via the the API. See image below.

Right now, the terraform provider limits login fields to match an email address:

[code]

F

[2019-01-11 22:10] quantumew commented on #100
There are a few older resources here that need refactoring and user schema is one. Enforcing login to be an email indeed appears incorrect. Let me fix that.

[2019-01-11 22:12] quantumew commented on #100
I think you are correct, let me look into that.

[2019-01-11 23:08] #100 closed

[2019-01-18 05:00] ashrith1357 opened #102 "Adding okta group to existing app through TF"
Hello,

  Any help is appreciated. We were able to create okta groups ( Ex: aws_12345_ROrole ) but how to add this group to existing app in okta through this provider ?   when we try to use snippet of below code using okta_saml_app, this is trying to a new app rather adding the group. I don't want to create a saml app through so is there any other way to accomplish ?

resource "okta_group" "testgr

[2019-01-18 14:01] quantumew commented on #102
Currently the way to do this is import your existing App and then simply add the group to the config. The caveat with this is you need to configure it to match your existing app before you do a `terraform apply`. This can be done by running a `terraform plan` and updating the config based on the diff.

Alternatively, I can see why you wouldn't want to manage your SAML app via TF, since Okta doesn'

[2019-01-18 19:58] ashrith1357 commented on #102
Thank you for the update and prompt reply. i really looking for resource (okta_app_assignments ) and data(okta_app) which you outlined above. i need to add groups over period of times and multiple times so don't want to create app each time when the new group comes up which need the app.

[2019-01-18 20:16] quantumew commented on #102
Not sure I follow. This is what Terraform state is for. If you add groups over time to that app resource, it will not keep creating new applications, it will read in the true downstream resource, reconcile it with your config, then output a plan when you run `terraform plan`. Subsequently when you run `terraform apply` it will attempt to update your app resource, then if it is successful it will u

[2019-01-23 15:23] quantumew opened #103 "Use Type Set where applicable"
I recently noticed many resources using arrays where they should be using sets. For instance, App groups and users.

[2019-01-25 04:45] msmall-cotm opened #104 "Deactivating User Fails"
When attempting to deactivate a user by setting `status = "DEPROVISIONED"`, I receive the following error:

[code]
The user is successfully deactivated, but the error message is misleading.

[2019-01-25 13:42] quantumew commented on #104
The update function for this resource is flawed. It updates status first so that if you reactivate a user it updates their profile after but if you are updating it to `DEPROVISIONED` it still attempt to hit that code which predictably ends in an error.
https://github.com/articulate/terraform-provider-okta/blob/master/okta/resource_user.go#L309-L318

What I am wonder is why we cannot update a depro

[2019-01-25 16:58] #104 closed

[2019-02-06 01:37] kpdhindsa opened #108 "Errors building the provider."
Hi, i'm getting the following errors while cloning the provider and also while running "make-build plugins". Please advise. FYI, I'm using the required versions of Terraform and Go.

`ab1234:terraform-provider-okta user$ go get -u github.com/articulate/terraform-provider-okta
 github.com/hashicorp/terraform/helper/logging
../../hashicorp/terraform/helper/logging/transport.go:53: undefined: json.Va

[2019-02-06 01:45] quantumew commented on #108
Can you clarify what version of Go you are using? I think I ran into this in a different project. If I remember right it was a change between Golang 1.8 and 1.9.

[2019-02-06 01:50] quantumew commented on #108
We may need to change our Go version recommendation but I would actually recommend just installing Go 1.11. I often use https://github.com/moovweb/gvm to make switching between versions simple. Although I have to admit gvm has its annoyances.

[2019-02-06 01:53] quantumew commented on #108
Docs were never updated when we went to TF 0.11. Corrected this cd2992b72d2ed85d953366a8535752488ce417a6. Thanks for reporting! Get to Golang 1.9 or greater and you shouldn't have any issues.

[2019-02-08 14:07] paranoidd opened #111 "Errors when "go getting" the code / building the plugin"
Disclaimer: this is different issue than listed in https://github.com/articulate/terraform-provider-okta/issues/108

First, some information regarding the build environments I have attempted:
- go 1.11.5 @ macOS 10.14.2
- go 1.11.5 @ Debian Linux 9.7 (in docker)
- go 1.11.5 @ Alpine Linux 3.8 (in docker)
- go 1.9.7 @ Debian Linux 9.7 (in docker)

In each one of the environments, executing `go get

[2019-02-08 14:12] quantumew commented on #111
I think this will be a repeat of #97. You will want to get dependencies with `make deps` which uses `dep` and ensures you get the right versions/branches of our dependencies. Eventually we will switch this to go modules which will work much better. I will make that more clear in the docs

[2019-02-08 14:20] paranoidd commented on #111
@quantumew thank you for super fast answer. I have issued `make deps` prior to `make build-plugins` and it has indeed resolved my issue!

I still need(ed) to to use `-d` flag to go get the source (instead of `-u`), but that is a minor note.

Thank you again for your assistance!

[2019-02-08 14:20] #111 closed

[2019-02-08 14:26] quantumew commented on #111
Good point `-d` makes sense. I will update the docs. Thanks for the feedback!

[2019-02-08 20:29] #99 closed

[2019-02-08 22:29] quantumew commented on #108
I updated another aspect of the docs that were out of date. You can now run `make` which installs deps properly then builds. The issue here was likely wrong dependency version (running `make` now installs deps and builds plugins) or due to Go < 1.9 being installed.

[2019-02-08 22:29] #108 closed

[2019-02-08 22:30] #25 closed

[2019-02-08 22:31] #18 closed

[2019-02-08 22:31] #17 closed

[2019-02-08 22:32] #11 closed

[2019-02-08 22:35] quantumew commented on #9
Added examples documentation that also serves as test fixtures https://github.com/articulate/terraform-provider-okta/tree/master/examples, two birds with one stone sort of thing to save time. Long term we should add an official wiki. Keeping this open but figured the context would help.

[2019-02-08 22:36] #10 closed

[2019-02-08 22:36] #19 closed

[2019-02-08 22:36] #23 closed

[2019-02-08 22:37] #38 closed

[2019-02-08 22:37] #85 closed

[2019-02-08 22:44] quantumew commented on #62
Going to close this. Development on https://github.com/okta/okta-sdk-golang has halted. We are using a fork https://github.com/articulate/okta-sdk-golang, which has a few extra features and bug fixes. For instance, it supports retries/backoffs and some extra resources. Fortunately, when they start development again we will be using the same patterns so it should be an easy swap out. Their `develop

[2019-02-08 22:44] #62 closed

[2019-02-08 22:45] #21 closed

[2019-02-08 22:46] quantumew commented on #45
This is supported! https://github.com/articulate/terraform-provider-okta/blob/master/okta/resource_password_policy.go#L111

[2019-02-08 22:46] #45 closed

[2019-02-08 22:49] #103 closed

[2019-02-08 22:57] quantumew commented on #84
Going to close this, this was done back with #84 and #86. Policies can be managed by including/excluding groups, rules can by managed by doing the same at the user level.

[2019-02-08 22:57] #84 closed

[2019-02-08 22:57] #24 closed

[2019-02-08 22:58] quantumew commented on #54
I think this is done but don't have full context on what this was supposed to be. The only thing group management related feature that is still on the docket is group rules here -> https://github.com/articulate/terraform-provider-okta/issues/87. Wondering if we can close this in favor of that ticket? If not, maybe we can add a bit more detail to what features are missing.

[2019-02-08 22:58] #80 closed

[2019-02-08 23:00] quantumew commented on #30
This was completed with a series of okta_user PRs #73 being the main one. Closing.

[2019-02-08 23:00] #30 closed

[2019-02-08 23:01] quantumew commented on #22
#86

[2019-02-08 23:01] #22 closed

[2019-02-08 23:08] quantumew commented on #32
There is a schema for base user profile properties that does the type validation. As far as custom properties we have a generic `map[string]interface{}` that we send along to the API so I don't think this is relevant.

[2019-02-08 23:08] #32 closed

[2019-02-15 16:44] #87 closed

[2019-02-15 17:49] quantumew commented on #54
Groups/Group Rules/ and group related claims. Let me know if there is anything else needed.

[2019-02-15 17:49] #54 closed

[2019-02-15 17:50] quantumew commented on #5
Done in #112

[2019-02-15 17:50] #5 closed

[2019-02-15 17:53] quantumew commented on #20
Done with #112

[2019-02-15 17:53] #20 closed

[2019-03-08 18:31] jpf opened #117 "What does %[1] mean in the examples?"
I'm new to Terraform, so please excuse my ignorance here. I've been looking through the examples and keep seeing `%[1]` – what does this do? I've scoured the Terraform documentation and haven't been able to find what this does.

[2019-03-08 19:11] quantumew commented on #117
Due to time constraints we have not been able to stand up a wiki website like other providers (Terraform manually writes these, they don't have a generator). I decided to start using acceptance test fixtures that can serve as examples instead, so you are forced to document a resource/data source as you build it. This requires me to use string formatting to inject the random characters necessary to

[2019-03-14 19:41] quantumew opened #118 "App user config drift, potential perpetual drift?"
Looks like there is an issues with app user config drift, although I cannot confirm exactly what. I recently added myself to an app via the UI, ran a build, and applied it. Later the same change showed up. We have tests around removing users but lets write a config drift test for this subresource and sus out any potential issues with the logic.

[2019-03-18 20:57] quantumew opened #120 "Better way to handle user with dual access to an app"
With our account terraformed now we run into cases where a user manually adds themselves to an application they already have group delegated access. When the provider subsequently detects this drift and attempts to remove the user scoped access Okta's API complains:

[code]

I am hoping there is an alternate way I can handle this situation so the Okta API does not error. A method of removing only

[2019-03-27 22:29] mbudnek opened #122 "Can't use environment variable to specify org name or API token"
The README says the organization name and API token can be specified with the environment variables `OKTA_ORG_NAME` and `OKTA_API_TOKEN`, but when I tried using those environment variables instead of giving the values in the provider declaration in my terraform file, the provider complained:

[code]

[2019-03-27 23:30] quantumew commented on #122
Yup that should indeed work. Can I see your provider config? You have to make sure you do not specify any values so it takes the default. It does not override the provider config block. https://github.com/articulate/terraform-provider-okta/blob/master/okta/provider.go#L51-L68

[2019-03-28 17:18] mbudnek commented on #122
Looks like this was my fault.  Turns out I wasn't running the script I thought I was, and the environment variables weren't getting set.  When I do things correctly the provider works correctly.

[2019-03-28 17:18] #122 closed

[2019-04-02 03:14] quantumew opened #124 "Support IdP discovery policy"
Add support for IDP_DISCOVERY_POLICY type for IDP routing rules

[2019-04-02 20:46] quantumew opened #125 "Support logout uri resource similar to redirect_uri resource"
This will allow us to manage URIs in the list while ignoring others.

[2019-04-03 13:38] quantumew opened #126 "okta_user_schema new type should ForceNew"
I attempted to change a schema type and it ended up failing, a new type should delete the resource then add it with the new type via ForceNew: true.

[2019-04-03 19:48] #118 closed

[2019-04-03 19:48] #120 closed

[2019-04-11 18:23] g4s8 opened #128 "Attach binaries to Github releases"
It would be great if you attach binaries to Github releases, and add a shell script to install it in a `README.md` file, so it will be much easier to use on CI instances. You can use this tool if you want: https://goreleaser.com/ it can upload binaries to Github releases.

[2019-04-11 18:29] quantumew commented on #128
Will do. I can hook up goreleaser in our CI system and just have it tag and release whenever new changes hit master. The release process for this is definitely subpar. Should get that up fairly soon

[2019-04-15 19:32] quantumew opened #129 "Compose groups from other groups/users"
Like previous features this one is requesting more flexibility. We should build out more approaches to assigning group membership. We should be able to assign groups to user, users to groups, and groups to groups.

Pseudo code (we could also add this to the groups resource):
[code]

Provider will call for members of any groups and all will be added to the group. This will require we handle config

[2019-04-17 11:16] bodgit opened #130 "HTTP Proxy support"
Not sure if this is specifically for this provider or the underlying library used to make the API calls, but this provider doesn't seem to be respecting the standard HTTP proxy environment variables and is trying to go direct to the Okta API which won't work in my environment.

I have the following set: `http_proxy`, `HTTP_PROXY`, `HTTPS_PROXY` & `NO_PROXY`

These are working fine for the AWS Terr

[2019-04-17 12:25] quantumew commented on #130
This is likely the underlying SDK. Are there particular resources you notice this on or all? We use an amalgam of two SDKs at this time so the answer might save a little time. No worries if you are not sure, should be easy enough to test.

[2019-04-17 12:57] bodgit commented on #130
I've created articulate/okta-sdk-golang#4 which seems to fix things mostly for me in that it just picks up the standard environment variables however that bypasses all of the documented proxy configuration methods. Looking through the code though, I'm not sure the proxy configuration is ever used, it doesn't configure the HTTP client in any way that I can see.

[2019-04-17 13:21] bodgit opened #131 "How to retrieve the SAML metadata for an app"
I'm trying to tie Okta and AWS Cognito together to add authentication to an AWS Elasticsearch domain. I have the following relevant resources:
[code]
I'm struggling to work out how to get the XML metadata from the Okta side to supply to the `aws_cognito_identity_provider`. I also need to supply the `SSORedirectBindingURI` value even though I can create the resource without it as it's retrieved fro

[2019-04-17 13:39] quantumew commented on #131
Yea this should be possible, I won't rule out a bug yet but I believe I have tests asserting metadata gets set. Let me take a look.

[2019-04-17 14:40] salekseev commented on #128
I could help with a PR to enable releases but it would require a `GITHUB_TOKEN` environment variable with a valid GitHub OAuth token that has the `public_repo` or `repo` scope to upload assets.

If there was a pre-encrypted value in `.travis.yml` like described in https://docs.travis-ci.com/user/deployment/releases/#authenticating-with-an-oauth-token...

[2019-04-17 16:02] quantumew commented on #128
I have time today, I will get this in before the EOD. Thanks for the reminder. Mostly want to do this since we have an internal release process I need to adhere to. Need to push the releases to S3 as well as Github.

[2019-04-17 17:01] bodgit commented on #131
I've sprinkled some debugging in the `okta_saml_app` resource code and once I added this change:
[code]
it is returning the metadata XML, but I can't see any `key` attribute in the state if I do `terraform state show okta_saml_app.kibana` so it doesn't look like it's getting set in the resource somehow.

Is `d.Set("key.metadata", key)` valid for doing this? I admit I get a bit confused with the TF

[2019-04-18 12:58] #130 closed

[2019-04-18 14:43] quantumew commented on #128
Ok released the latest binaries. Still have to finish automating and documenting this but should have time tonight to get that wrapped up.

[2019-04-18 15:38] salekseev commented on #128
@quantumew There's a bit of a problem with releases that are attached. It seems each tarball contains 3 files:
[code]

It's common practice (by hashicorp and other community) for providers to be compressed using deflate (ZIP) method and contain a binary that is versioned as well as this is how terraform distinguishes between provider versions. For example `terraform-provider-okta_v2.18.0_x4` where

[2019-04-18 16:47] bodgit commented on #131
I'm currently using the following patch:
[code]
I'm setting the `key` attribute a bit differently, but this way the values are getting set in the state. I looked in the AWS provider which I tend to use as my source of canonical truth for writing Terraform providers and I can't see any resource using the dot notation for setting attributes, however the resource probably needs more fixes than just w

[2019-04-18 17:27] quantumew commented on #131
This is really great man. I will have time to dig into this further tonight. I think I would probably use a TypeSet for the sso service. As far as the error, I think I have hit this before and there is a workaround for this.  zipmap comes to mind for me, no clue if this actually works though.

[code]

[2019-04-18 17:33] quantumew commented on #128
Silly me, I was in a rush and didn't check my work. Fixing that now. Yea you are right let me get it automated there for now and skip our internal build system. That is really what is blocking me from getting this in master.

[2019-04-18 18:36] quantumew commented on #128
@salekseev Thanks for your cogent and helpful response. Thanks for your patience as well on this. This is corrected, with v2.20.0. Please make any corrections if you see anything off here https://github.com/articulate/terraform-provider-okta/blob/master/.goreleaser.yml. TIL about the protocol version, GTK. Also as an aside I need to make some corrections to our build, it appears Okta's API is occa

[2019-04-18 20:55] hgibsonqb opened #134 "Binary isn't recognized as provider by terraform"
The binary name for the latest release is named terraform-provider-okta_2.20.0_x4 but for terraform to recognize it, the name has to be terraform-provider-okta_v2.20.0_x4

[2019-04-18 21:12] quantumew commented on #134
You are correct, fixing...

[2019-04-18 21:14] quantumew commented on #134
https://github.com/articulate/terraform-provider-okta/commit/0bb884e34d015189691b32f6e89257bf8b7d9915

[2019-04-18 21:14] #134 closed

[2019-04-18 22:09] quantumew opened #135 "Inline Hooks"
Add some resources to support inline hooks.

[2019-04-19 00:00] quantumew commented on #131
Ok getting back to this. Now that I think about this, I wouldn't be opposed to hardcoding these. The two bindings are defined by the spec so I don't see why not. I think you alluded to this as well, for example

[code]

[2019-04-19 09:21] g4s8 commented on #128
@quantumew I downloaded binary from release, and it's working, thanks!

[2019-04-19 09:21] #128 closed

[2019-04-19 13:39] quantumew commented on #131
Threw together #136 last night, would love feedback if you had any.

[2019-04-20 16:40] #131 closed

[2019-04-21 21:50] #117 closed

[2019-04-22 17:13] #135 closed

[2019-04-23 05:37] robwaldron-flg opened #139 "new resource | app_push_group ?"
Not sure if a new resource or to be embedded into an existing resource makes more sense, but using the Okta Org2Org as an example; Push Groups enables pushing users from a group in a master Okta org to be pushed into a specified group (or created on demand) in another Okta org.

In this documentation, it exists here: https://saml-doc.okta.com/Provisioning_Docs/Okta-Org2Org_Provisioning.html, but a

[2019-04-23 05:54] robwaldron-flg opened #140 "resource_identity_provider | support SAML"
From what I can tell, the current resource is configured for OIDC. Maybe these should be split into resource_identity_provider_oidc, resource_identity_provider_saml or add in the configuration options for saml?

https://developer.okta.com/docs/api/resources/idps/#add-saml-2-0-identity-provider

[2019-04-23 06:23] robwaldron-flg opened #141 "new resource | ability to add administrators"
The ability to add administrators in Okta through the user and group methods would be quite helpful (probably more so assigning groups to admin roles).

resource_roles and be able to add one or many users or groups.

https://developer.okta.com/docs/api/resources/roles/#list-roles-assigned-to-user

[2019-04-23 09:34] bodgit commented on #131
Sorry for the delay, the UK had an extended four day weekend for Easter so I'm just looking at this now. I'll try the build out and let you know.

[2019-04-23 10:25] bodgit commented on #131
Oddly, the metadata is missing from the resource again, but the two `http_post_binding` and `http_redirect_binding` attributes are correctly set, which is all part of the same conditional block so I'm not sure why it's not there, and it's clearly read the metadata to be able pull those two values from it.

[2019-04-23 10:53] bodgit commented on #131
I found the problem. Previously `getMetadata()` returned a string, now it returns an array/slice of bytes which works without conversion for the XML parsing but Terraform rejects itwhen used with `d.Set("metadata", ...)` so casting it to a string seems to work.

[2019-04-23 10:59] bodgit commented on #131
So now my `aws_cognito_identity_provider` resource from the original example looks like this:
[code]
👍

[2019-04-23 12:38] quantumew commented on #140
Yea this resource predates me. I might do what I did with other resources and deprecate it, then create a resource for each type. it makes for a much more cogent schema.

[2019-04-24 09:34] bodgit opened #143 "Support for setting "Application notes for admins" in apps"
Our Okta account now has apps that are both manually set up and managed by Terraform, it will be a long time I suspect before everything in there is 100% managed by Terraform.

I figured it might be a good idea to utilize the "Application notes for admins" field in an app to add a "Managed by Terraform" hint so people know that if they manually edit the settings that they will be reverted by a fut

[2019-04-24 12:13] quantumew commented on #143
Unfortunately this field is not exposed by the API. I can put in a request for it but likely it would take a bit.

[2019-04-24 12:46] bodgit commented on #143
Bah, I figured as much given everything else can be managed. It makes sense to be able to manage it, so if you can request API support that would be great. For now I'll just manually update the note to warn any other admins.

[2019-04-24 14:03] quantumew opened #144 "User schema properties overwritten"
When creating/updating multiple user schema properties we are seeing successful create and update responses but then later when we do a GET, the data is missing. The only way around this is by forcing creates/updates to happen one at a time. This appears to be a race condition in the API.

[2019-04-24 16:06] hgibsonqb opened #145 "Access external key assigned by okta"
Okta assigns an ID to saml applications (separate from the app id attribute) which is needed to access the app without an authorization token. For example, the url to access app meta without an authorization token is  https://{okta domain}/{app extrenal key}/sso/saml/metadata.

I'm currently finding the okta external key by extracting it from my saml applications http_post_binding (which has the f

[2019-04-24 16:23] quantumew commented on #145
Good question, currently that is only exposed in the metadata so no. I can add this property this evening though. I will extract it from the metadata and drop it on `external_key`. Look for it in 2.25.0

[2019-04-24 20:43] #145 closed

[2019-04-25 15:14] salekseev opened #147 "Allow modification of expression_value for okta_group_rule resource"
This is to support update operation of `expression_value` of `okta_group_rule` resource which can only be modified if group is `INACTIVE`. For example:

[code]

I think we either need to set rule to `INACTIVE` -> modify expression -> set it back to `ACTIVE` (https://github.com/articulate/terraform-provider-okta/blob/master/okta/resource_group_rule.go#L131) or `ForceNew: true` on `expression_value`

[2019-04-25 15:22] quantumew commented on #147
I appreciate you doing the patch. I generally lean towards the non destructive approach, although I think both are acceptable here. If you don't get to it today, I can push a patch this evening 🙇.

[2019-04-25 19:15] salekseev commented on #147
Thanks a ton for pushing a release for this. About to put https://github.com/articulate/terraform-provider-okta/releases/tag/v2.25.0 into production to confirm that it's fully fixed.

[2019-04-25 21:28] salekseev commented on #147
Unfortunately it does not seem to function as desired still. Somehow terraform now reports success but the rule in okta just ends up being deactivated and expression does not get updated... Still trying to debug it a bit...

[2019-04-25 21:31] quantumew commented on #147
No worries I can get it fixed up shortly. Likely just not breaking that if statement. I can look at it in context shortly. I actually need this for a project I am working on anyways.

[2019-04-25 21:38] quantumew commented on #147
Ah the test missed it since group assignments are ForceNew.  Going to add a 4th step to exploit this bug.

[2019-04-25 21:44] quantumew commented on #147
Oh haha blind, we are returning out of this function early. Fix on its way

[2019-04-25 22:07] #147 closed

[2019-04-29 03:06] robwaldron-flg opened #151 "Directory Integrations | New resources"
I'm pretty sure that from what I've seen, there's no API for creating directory integrations, but thought I'd add this here as a feature request.

Proposed resources:
- resource_directory_ad
- resource_directory_ldap
- resource_directory_csv

![image](https://user-images.githubusercontent.com/41554886/56874760-705c5180-6a7f-11e9-9bda-9bf2f7e1b8d7.png)

[2019-04-29 14:01] #140 closed

[2019-05-02 19:39] shawnferry opened #155 "okta_app structure"
Conditionally failing okta_app_saml on missing resources only at apply time seems suboptimal.

I *think* [integrated](https://www.okta.com/okta-integration-network/) apps should have a different resource. Possibly `okta_app_preconfigured`, `okta_app_integrated`, `okta_app_from_catalog` (selecting catalog because okta says "search catalog" for integrations).

I'm not sure there is a clean answer bu

[2019-05-02 19:56] quantumew commented on #155
Yea I agree 100%. I was pretty new when I made this decision and I didn't think it through. I definitely plan on deprecating "preconfigured_app" setting and separating it. I have thought the real solution is a resource per distinct app, for instance, `okta_app_aws_console`. The resources will be super thin and rely on shared functions/schemas/resources. I would have to do a bit more research to se

[2019-05-02 21:05] #129 closed

[2019-05-02 21:25] shawnferry opened #156 "app_settings_json isn't"
[struct ApplicationSettings](https://github.com/okta/okta-sdk-golang/blob/2395a5f0ddc8840b41566277432f0589f2570108/okta/applicationSettings.go) has members App and Notification.

I'm too new at this to understand how the code is working [parsing the payload](https://github.com/articulate/terraform-provider-okta/blob/a277407821f4af8f69fbf91ae7befb1b14a37ae6/okta/resource_app_saml.go#L520) seems to

[2019-05-02 23:03] quantumew commented on #156
At a cursory look it appears the config is not represented in the resource. I will be get this added. Thanks for the report!

[2019-05-06 16:54] hgibsonqb commented on #144
I'm also having this issue

[2019-05-06 20:50] quantumew opened #159 "okta_idp_saml metadata settings"
Expose IdP metadata settings like we do with `okta_app_saml`, such as the ACS URL and audience.

[2019-05-06 20:52] quantumew opened #160 "okta_idp_saml and okta_app_saml datasources"
It would be nice to have an `okta_idp_saml` and `okta_app_saml` data source that has SAML specific settings on it. The `okta_app` is a good generic datasource but there are cases where I want to setup a SAML app over here and then in another repo integrated the SAML app with a SAML IdP without any manual intervention.

[2019-05-07 11:35] hgibsonqb opened #162 "Okta attempting to add user to group before user creation finishes"
Hi,
I'm using this provider to create two okta users, two okta groups each with a group rule, and add the two okta users to both groups.

What seems to be happening is okta attempts to create the group before the users finish creating. This is a sample run:
[code]
The users don't finish creating until much later
[code]
This causes `terraform apply` to fail with the following error:
[code]

However

[2019-05-07 12:05] ocxo commented on #162
We have seen something like this recently as well. Are you seeing it in an oktapreview.com or okta.com environment? cc @pklingem

[2019-05-07 12:08] hgibsonqb commented on #162
In an okta.com environment

[2019-05-07 12:24] quantumew commented on #162
Can I see your group rule config or the entire config? I think the main issue here is the 500 on the group rule. I have found Okta returns 500 often when it should be returning 400/422, which makes debugging a bit confusing.

[2019-05-07 12:28] hgibsonqb commented on #162
[code]

This is contents of the module creating the group. `var.users` is a map of maps where each map is a user and has the format:
[code]

[2019-05-07 12:30] hgibsonqb commented on #162
This is with terraform v 0.11.13 and okta provider version 2.26

[2019-05-07 12:56] quantumew commented on #162
You can add users to groups directly without a rule. It looks like you are adding users by their login, is there a reason you cannot add them by id using the method below? We have a data source to get the id by login if you do not know the user id. I generally use group rules for more generic purposes like, I want to add all engineers to the Engineering group in perpetuity.

[code]

Since you have

[2019-05-07 12:58] hgibsonqb commented on #162
These users are only being created for the test fixtures. We're creating the users separately, which is why they need to be added by rule.

[2019-05-07 13:01] quantumew commented on #162
Oh interesting, ok that totally seems valid then. I misunderstood the config. I can see what the templated config looks like but I want something I can repro in my own account. Can you give me a raw group rule? What would the provider see on one of these? That way I can create a replica and use ACC tests to debug it. Your templated config looks totally reasonable.

[2019-05-07 13:38] hgibsonqb commented on #162
The final rule looks something like
[code]

[2019-05-07 13:57] quantumew commented on #162
Thanks! I created an acceptance test with the group and the group rule. No users but that shouldn't have any bearing on any bearing on the internal server error returned by the group rule endpoint. I am at a lost here, everything I try seems to work. Feel free to suggest changes to my test config.

Can you try the latest provider? I don't recall a bug of this nature but let's just be sure.

![Scre

[2019-05-07 14:02] hgibsonqb commented on #162
Would creating two rules that have different names but the same expression cause any problems?

[2019-05-07 14:05] quantumew commented on #162
Good question, maybe? They provide the ability to create a single rule that assigns users to multiple groups so yea they may not like that for some reason. Let me repro that.

[2019-05-07 14:10] quantumew commented on #162
That passes as well for myself. Going to merge the above PR. @salekseev has a good point, request logging would be really helpful here. Will release 2.34.0 shortly.

[2019-05-07 14:19] salekseev commented on #162
Here's a response we're getting intermittently upon rule creation. Could be an Okta side problem...
[code]

[2019-05-07 14:29] quantumew commented on #162
Interesting, if it is intermittent it is likely an Okta issue. I can post this same API to my account and I get only 200s (should be a 201 CREATED imo). This might be a good time to ask Okta. Does your system log have any info? Whoopsies looks like you need to redact your auth header,  🙈

[2019-05-07 14:42] salekseev commented on #162
Good catch. Thanks. :) re-issued the token already. 🙈

[2019-05-07 15:01] salekseev commented on #162
We're engaging Okta support to see if we can get a trace on this error as it's not visible in the "System Log" unfortunately.

[2019-05-07 15:19] quantumew commented on #162
Please report back. It sounds like we are facing the same issue although I personally have not run into this.

[2019-05-08 18:44] salekseev commented on #162
[okta_error_2.log](https://github.com/articulate/terraform-provider-okta/files/3158844/okta_error_2.log)

Okta is still investigating but another error sample started showing response header `X-Xss-Protection: 1; mode=block; report=https://okta.report-uri.com/r/d/xss/enforce` today. It's possible that we're bumping into their WAF.

[2019-05-08 19:06] quantumew commented on #162
Hmm we could bandage this for the time being. We maintain a fork of Okta's beta SDK (they dropped development on it for a few months), I could temporarily add an option to the provider `max_retries_internal_server_errors`, which would by default would be 1, but you could increase it and hopefully see better results. I am not sure how intermittent these errors are for y'all.

[2019-05-08 20:40] salekseev commented on #162
I believe we have a temporary workaround for this (not make too many requests) and we’re working with Okta support to try and validate that this is a bug on their end. Thanks.

[2019-05-08 20:55] quantumew commented on #162
Agreed. Good deal 👍

[2019-05-08 20:58] shawnferry opened #165 "Policy and rule model seems wrong"
Looking at the existing policy and policy rules constructs I *think* there are type specific details vs the higher level abstractions and this also needs a refactor.

I think [policy.go](https://github.com/articulate/terraform-provider-okta/blob/master/okta/policy.go#L42) has members groups_[included|excluded] incorrectly it should instead have members conditions and settings as a [policy object](

[2019-05-08 20:58] shawnferry commented on #124
In my scatter shot attempt to better understand this provider I was also looking into this. I think there is a problem in the general model used for policies and rules. #165

[2019-05-08 21:18] quantumew commented on #124
I actually started this work. Let me wrap that up this evening. I will dig into the general policy model as well, thanks!

[2019-05-09 03:10] quantumew commented on #165
Took a look at this and there is definitely room for improvement here. Was able to get #124 in without touching too much of it but it definitely could use work.

[2019-05-09 09:56] robwaldron-flg opened #167 "Terraform 0.12 Support"
Not sure if this would be on the roadmap, but 0.12 RC1 was released today with a planned GA release in the coming weeks.

https://www.hashicorp.com/blog/releasing-terraform-0-12-0-rc1

[2019-05-09 11:38] quantumew commented on #167
Yup it is on the radar. Last I looked there was no migration guide so I am not really sure what needs to change yet. I plan on digging into that soon though.

[2019-05-10 01:15] #124 closed

[2019-05-14 18:25] ryber opened #169 "Client Credentials Should Be A Valid Grant Type for a Web App"
Hello,

First of all, this project is awesome, thank you so much for creating this.

Second, I believe the validation logic for oauth apps is off.

I have a resource like so:
[code]

this results in this error:
[code]

Web applications can be valid client credential applications:
![clientcredentials](https://user-images.githubusercontent.com/145359/57722146-763f5e80-764b-11e9-8eb7-695d80a9ef8a.png

[2019-05-14 18:29] quantumew commented on #169
@ryber Good catch, I can get a fix out for this in a minute. I am tempted to remove that validation logic and let the API handle it. For now I will fix this particular case.

[2019-05-14 20:10] #169 closed

[2019-05-16 21:16] amtineo opened #172 "Ability to retrieve issuer from auth server"
I'm in need of retrieving the issuer set by Okta but I get an error saying that the resource does not have attribute 'issuer'.

Any ideas how I can retrieve it? Is it supported?

[2019-05-16 21:18] quantumew commented on #172
Looks like a bug. I for some reason made issuer optional. Should be computed. Fix coming shortly..

[2019-05-16 21:20] amtineo commented on #172
Thanks for your promptly response. Hopefully you can get it in soon =)

[2019-05-16 21:24] #172 closed

[2019-05-16 21:28] quantumew commented on #172
Just released the fix in v2.39.0.

[2019-05-16 21:51] amtineo commented on #172
Worked like a charm! Thanks again!

[2019-05-21 19:45] quantumew opened #175 "Better Tests"
Some resources have multiple endpoints associated with them. In our tests we should check everything to validate downstream. For instance, users with group memberships. Otherwise stuff will break and we won't know. https://github.com/articulate/terraform-provider-okta/pull/174

[2019-05-27 20:12] Ginja commented on #167
👋

Thanks for the provider first off :) Here is the migration guide we're following for our internal providers:

https://www.terraform.io/docs/extend/terraform-0.12-compatibility.html

[2019-05-30 13:41] #167 closed

[2019-06-03 14:15] shantanugadgil opened #178 "[feature request] shared credentials file"
Terraform version: 0.12.0
Provider version: 3.0.0

Would it be possible to add functionality like the "shared credentials file", like that of the AWS provider?

Use case:
When using multiple Okta accounts, in the `provider "okta"` block, I can just mention the "provider profile" name and then, safely store the actual profile details in my dotfile like, say `~/.terraform_okt_provider.conf`.
I know,

[2019-06-03 18:38] quantumew commented on #178
Love this idea, will tackle this soon.

[2019-06-11 22:33] quantumew opened #182 "More Light-handed approach to API calls"
There has been concerns about alert fatigue + terraform tripping rate limits in prod. The only real overlap is the user resource. Our prod has only 7 TF managed users so this shouldn't be an issue. We still should have an option to backoff before a 429 if possible. Maybe if the limit is X amount from tripping, cache that, and backoff. This could be problematic but potentially worth adding a config

[2019-06-14 18:32] quantumew opened #183 "Administrator Groups"
Okta recently went EA with a cool feature. Creating admin groups. Let's get that into the provider.

[2019-06-14 21:40] quantumew opened #184 "Data source to grab SAML metadata"
I want to be able to configure an IdP and a SAML app together in different accounts. This will require a couple data sources to make this happen. Either specifically for metadata or for SAML apps and idps.

[2019-06-18 18:22] maneeshsahu opened #188 "'Use PKCE' when creating a okta_app_oauth native resource"
**Is your feature request related to a problem? Please describe.**
I am trying to create a native oauth app using TF. I need it to use pkce instead of client authentication

**Describe the solution you'd like**
I need to create an app that uses pkce instead of client authentication

**Describe alternatives you've considered**
Looked at the source code, but havent been able to figure it out

**Addi

[2019-06-18 18:32] quantumew commented on #188
For PKCE your config is perfect but one minor tweak, set `token_endpoint_auth_method` to `none`. The provider is setting the default to basic auth. No clue why the value is none but that is a question for Okta :-D. Also, Terraform doesn't do conditional defaults well, if it did I would default this to `none` on native apps.

https://github.com/articulate/terraform-provider-okta/blob/master/okta/re

[2019-06-18 20:10] maneeshsahu commented on #188
Thanks Andy! I am closing the issue.

[2019-06-18 20:10] #188 closed

[2019-06-19 13:30] quantumew opened #190 "Attribute Statements Settings"
## Expected Behavior
Attribute statements should update from Okta.

## Actual Behavior
They are not. We also had a situation where the Group attr setting was wiped out despite the right value being defined.

## Steps to Reproduce the Problem
Add an attribute statement via the UI and then run your SAML app TF, no change will be found.

Add a group attribute statement, add it to your tf, plan, and a

[2019-06-21 03:36] c-knowles opened #192 "Support for G Suite email aliases"
**Is your feature request related to a problem? Please describe.**

I think in the okta_user resource code, currently it seems not possible to use custom_profile_attributes of type string array. At least I was trying to get to a working example and didn't find anything so far. This is needed to support email aliases in G Suite, see
https://help.okta.com/en/prod/Content/Topics/Provisioning/Google/e

[2019-06-21 13:24] quantumew commented on #192
I ran into this a month or two ago, I thought I was able to correct it but I bet I didn't fully test it. Let me drop an acceptance test, get it to fail, then correct it. Thanks for reporting!

[2019-06-21 13:29] quantumew commented on #192
Ok this makes no sense. Fix on its way!
https://github.com/articulate/terraform-provider-okta/blob/d2e5dc26407d38a1b813dcd22f92908b28f796b5/okta/user.go#L409-L413

[2019-06-24 08:17] c-knowles opened #194 "Cannot add users to groups (says user is not found/404)"
## Expected Behavior

Adding users by ID to a group like in the example https://github.com/articulate/terraform-provider-okta/blob/master/examples/okta_group/okta_group_with_users.tf should be valid and not produce a 404 for valid lists of users.

## Actual Behavior

Applying terraform with a user added to a group says the user is not found (404) even when the user does exist.

## Steps to Reprodu

[2019-06-24 14:42] quantumew commented on #194
This is bizarre, I am not sure how this would happen and last running this acceptance test it passed without any errors. Can you post the jist of your user tf config? I want to run exactly what you are running on 2.40.0. Also, you are right 2.40.0 should be fine.

[2019-06-24 14:50] c-knowles commented on #194
The users are run in fine, nothing particular special just name, login, email etc. Some custom attributes but don’t think that will affect it. In your state files is the `id` field for a user the Okta generate one of the email address?

[2019-06-24 15:11] quantumew commented on #194
Got it. Negative, the user ids are uuids. I will post a quick confirmation that the acceptance are indeed passing still.

[2019-06-24 15:16] c-knowles commented on #194
We imported all our users from Okta to the Terraform... and imported by email. Maybe that’s the cause?

[2019-06-24 15:21] quantumew commented on #194
That's it! I am presuming they were imported via email but the resource uses the passthrough importer, which sets the id to whatever you provide it and does a read on the user. This actually works fine until you reference id because Okta GET user endpoint takes an email but all other non user endpoints require an id.

[2019-06-24 15:22] quantumew commented on #194
This makes me think, I could add a property to the user resource that is `user_id` so you could choose to import via email and still have access to the user id.

[2019-06-24 15:25] c-knowles commented on #194
I think `id` should be uniform across all resource, it makes sense to use the Okta UID. So I guess that means get the user fully on import. When logging any plan with a user/group change it’s always best to log email I think as the UID is not human readable. Not sure how feasible that it.

[2019-06-24 15:29] quantumew commented on #194
Yea this would be really nice but unfortunately this would result in more API calls to get the email associated with the user. There is no way to reference anything in a resource other than what is provided.

[2019-06-24 20:13] quantumew commented on #194
@tecnobrat brought up a really good point. We can update our user import to no longer use passthrough and actually support importing by login or by id. It will generate another request when an email is provided but I think that is totally acceptable. I will add that soon.

[2019-06-25 01:03] c-knowles commented on #194
I think for import that is acceptable as it’s more a one off operation. Then we get down to the bit I mentioned above, but to clarify what I meant:

- `id` stored to terraform state should be uniform across all Okta resources, the Okta UID
- imports should be validated?
- when we import with email I assume the first API response does contain the ID, however if an additional call is needed that’s a

[2019-06-25 02:02] quantumew commented on #194
This comment linked below was referencing the last point, there is no mechanism for this in Terraform. Other than extraneous API calls or forcing consumers to pass the login of the user to the resource referencing it.
https://github.com/articulate/terraform-provider-okta/issues/194#issuecomment-505060927

[2019-06-27 17:01] jeremie0 opened #198 "Error creating Service application while specifying client_id or client_secret"
## Expected Behavior
I want to be able to create a new okta_app_oauth resource setting the client_id and client_secret.

## Actual Behavior
[code]

## Steps to Reproduce the Problem

terraform-provider-okta version 3.0.1
[code]

## Additional info

https://developer.okta.com/docs/reference/api/apps/#oauth-credential-object says that you can specify the client_id and client_secret

The API accepts

[2019-06-27 17:58] quantumew commented on #198
Ah missed this use case. I will get the schema updated to support this. Thanks for the report!

[2019-06-28 19:02] quantumew opened #199 "Email/SMS Templates"
Okta has a super secret undocumented email templates API. This means we can build a resource around it and around the documented SMS API.

[2019-07-01 09:27] mcdir opened #200 "Is it possible to set Single Logout URL?"
**Is your feature request related to a problem? Please describe.**
Setup Single Logout URL via terraform-provider-okta

**Describe the solution you'd like**
Just any kind possibility to setup  "Single Logout URL" the same as manual way in the "Edit SAML Integration>Show Advanced Settings"
Enable Single Logout > On,
Single Logout URL
SP Issuer

**Describe alternatives you've considered**
Didn't fin

[2019-07-01 13:22] ryber opened #202 "Provide an Option to PGP Encrypt client_secret"
**Is your feature request related to a problem? Please describe.**
Hi, I've noticed that when creating applications that application secrets are stored in state. It would be nice to have an option where that is not kept but left in Okta.

**Describe the solution you'd like**
Maybe some kind of configuration to not keep secrets in state?

**Describe alternatives you've considered**
There are variou

[2019-07-01 14:09] quantumew commented on #200
Did you try the `sso_url` setting? https://github.com/articulate/terraform-provider-okta/blob/master/examples/okta_idp_saml/basic.tf#L3

[2019-07-01 14:13] quantumew commented on #202
Have you tried the `omit_secret` setting? This is a unique setting so I should really have a clear example of it.

https://github.com/articulate/terraform-provider-okta/blob/a277407821f4af8f69fbf91ae7befb1b14a37ae6/examples/okta_app_oauth/oauth_app_remove_groups_and_users.tf#L20

[2019-07-01 14:41] ryber commented on #202
Oh, yea, that's probably exactly what I want. Let me ask a follow up question. I plan on wiring this all up to our internal GitHub Enterprise and then letting teams do pull requests to create apps and get added to auth server policies. Using this setting (or even in the default behavior), do you have a recommendation on how I would communicate the clientId and secret that gets created?

[2019-07-01 14:55] quantumew commented on #202
Okta's API is limited here. You can only get the `client_secret` on create so you would not be able to use a data source to get it. This really limits your options. Either store it in state or manually intervene.

With that said, I have seen some providers have an option to encrypt secrets so they are not stored in cleartext  in TF state (link below). If I provided a method such as this would it o

[2019-07-01 15:50] ryber commented on #202
Yes, thank you very much. This can be closed, or you can keep it open and convert it to a reminder to update your doc maybe? Thanks again!

[2019-07-02 07:20] mcdir commented on #200
Yes I've set this var, but unfortunately `sso_url` is `Single Sign On URL`. I need set `Single Logout URL`

[2019-07-02 10:19] quantumew commented on #200
Oh silly me, I misread your comment. I actually am not aware of this setting so my brain ignored the `Logout` part. I am seeing a different UI then you are, need to figure out why this isn't exposed for me, then get it added to the schema!

[2019-07-02 10:25] quantumew commented on #200
Silly me, I thought you were referring to a SAML IdP. Cool, let me get that added to the SAML app schema.

[2019-07-02 10:43] quantumew commented on #200
Ok dug into this a bit more. Turns out Okta does not expose these settings via the API. I can toggle these settings and the API response does not change and they are undocumented. I will report this to Okta.

[2019-07-02 10:44] #194 closed

[2019-07-02 13:06] mcdir commented on #200
@quantumew Thank you a lot for your support. I've asked the same things to OKTA, but they didn't answer (

[2019-07-05 13:07] #126 closed

[2019-07-05 13:31] #192 closed

[2019-07-05 13:32] quantumew commented on #184
Fixed by #203 #204

[2019-07-05 13:32] #184 closed

[2019-07-05 13:34] quantumew commented on #190
Fixed with #203

[2019-07-05 13:34] #190 closed

[2019-07-05 13:44] #198 closed

[2019-07-05 13:44] quantumew commented on #160
Fixed by #203 #204

[2019-07-05 13:44] #160 closed

[2019-07-07 22:06] edmarsj opened #206 "okta_user data source broken after v3.0.4"
## Expected Behavior
Add an okta_user data source and run terraform plan/apply. It should just work.

## Actual Behavior
It fails with the message:
[code]

## Steps to Reproduce the Problem

Add an `okta_user` data source:

[code]

Run terraform plan:
[code]

[2019-07-07 22:10] quantumew commented on #206
Yup, fixing now. Will write a test so a bug like that doesn't slip through again.

[2019-07-07 23:19] edmarsj commented on #206
Cool, thanks a lot @quantumew! Cheers!

[2019-07-07 23:33] quantumew commented on #206
NP, @edmarsj, thanks for reporting! Look for v3.0.5 to hit with the fix shortly.

[2019-07-07 23:35] #206 closed

[2019-07-08 16:53] maneeshsahu commented on #37
+1
@ocxo @bellaweo Can you support updating base attributes? Currently, I can only create a okta_user_schema attribute, not update an existing one.

I need the following to implement a 'Login with Apple' OIDC SSO:
1. Username: Update Format restrictions to 'None'
2. Last Name: Not required
3. First Name: Not required

[2019-07-08 17:43] jeremie0 opened #208 "can't set client_id for okta_app_oauth"
## Expected Behavior
This is a followup to https://github.com/articulate/terraform-provider-okta/issues/198 - thank you for adding client_basic_secret.   Is it also possible to allow setting of the client_id?

## Actual Behavior
terraform-provider-okta 3.0.5
[code]
## Steps to Reproduce the Problem

[code]

## Additional info

thank you!

[2019-07-08 17:58] quantumew commented on #208
I didn't think it was possible. I thought it was always computed but I could very well be wrong about that. Let me confirm this is indeed the case on all auth methods.

[2019-07-09 09:56] shantanugadgil opened #209 "unified build for Terraform 0.11 and Terraform 0.12"
**Is your feature request related to a problem? Please describe.**
I wish there were a single unified build for Terraform 0.11 and Terraform 0.12, just like the "terraform-provider-aws".
Using the older TF can then benefit from all the goodness of the provider updates.

**Describe the solution you'd like**
The new name which ends with "_x5" make the plugin incompatible with Terraform 0.11
The reas

[2019-07-09 11:47] quantumew commented on #209
I am still on TF 0.11 and the latest plugin works fine for me. I might be missing something though, what error do you get running the latest provider?

[2019-07-09 11:52] shantanugadgil commented on #209
OK, I just retried this and everything is working fine. I am pretty sure, I had split the two installations due to the 0.12 plugin (v3.x) not working with TF 0.11.x

Anyway, things are working, this is a non-issue:
[code]

[2019-07-09 11:56] quantumew commented on #208
Investigated this, you totally can set client_id. Will get this updated.

[2019-07-09 15:25] #208 closed

[2019-07-10 07:54] shantanugadgil commented on #209
after thinking about this some more ... When Terraform 0.12 downloads the AWS provider, the filename ends with `x4`, indicating it is backward compatible (as mentioned in the provider docs).

So, would it also make sense to make the okta provider file name end with `x4` rather than `x5` ???

_This is not a major concern, just a though._

[2019-07-10 20:48] chlsmith opened #211 "missing group_assignments"
I'm not seeing group_assignments as part of the social idp resource.   I'm trying to create a Microsoft IDP, but when I do it and someone has added the group to it via the portal, it messes up my Terraform!

[2019-07-10 21:40] jeremie0 opened #212 "Support for setting a scope as default in authorization server"
**Is your feature request related to a problem? Please describe.**
It is possible to create a scope in an authorization server and set it as a default scope.  But, the terraform provider doesn't support this yet.

**Describe the solution you'd like**
In ```okta_auth_server_scope``` resource it would be great if we could have an optional boolean setting for "default" or "isdefault".
The setting is

[2019-07-10 21:42] quantumew commented on #212
Good call, this should be a very simple addition.

[2019-07-10 22:03] quantumew commented on #211
Bizarre, I completely missed this use case. Adding missing property now.

[2019-07-10 23:29] #211 closed

[2019-07-11 03:03] quantumew commented on #209
@shantanugadgil That is a good question. Going to reopen and investigate. Ostensibly the way it is now works as expected but I would still like to know for sure.

[2019-07-11 18:35] chlsmith opened #214 "issuerMode required for social idp resource"
Getting the following on my terraform apply step:

okta_idp_social.microsoft: 1 error occurred:
okta_idp_social.microsoft: The API returned an error: Api validation failed: issuerMode. Causes: errorSummary: issuerMode: 'issuerMode' is required., Status: 400 Bad Request.

Looking through the example and the code, I don't see issuerMode as something I can set.

[2019-07-11 18:41] quantumew commented on #214
Interesting. I bet our Okta tenants are setup differently. I can successfully create one without issuer mode in my tenant but I likely don't have a custom domain setup. Let me get that setting added.

[2019-07-11 19:23] chlsmith commented on #214
dang, you're quick!   Thanks for the quick check.

________________________________
From: Andy <notifications@github.com>
Sent: Thursday, July 11, 2019 2:41 PM
To: articulate/terraform-provider-okta
Cc: Chris Smith; Author
Subject: Re: [articulate/terraform-provider-okta] issuerMode required for social idp resource (#214)

Interesting. I bet our Okta tenants are setup differently. I can successful

[2019-07-11 21:42] #214 closed

[2019-07-12 17:39] quantumew commented on #144
Did a little testing here and I think I see what is happening. It appears Okta is not returning the new schema right away. I am wondering if just sending Cache-Control no-cache will fix this? Another thing, is we are using the old SDK for this, we should probably update it to the new approach.

[2019-07-12 20:00] jeremie0 commented on #182
We are running into this with the  POST /api/v1/apps?activate=true  endpoint. Trying to get rate limits increased w/Okta, but if we can do anything on the provider side that would be great.

I see the terraform plan stage working fine.
When we go to apply, creating new apps, we immediately get a 429 back.  Default rate limit appears to be 100 and we are at 0 remaining by the time we get to apply.

[2019-07-12 20:39] quantumew commented on #182
Wow that doesn't sound right. How many apps is it creating? What version of the provider are you using? There was one bug where XML endpoints were not using the "retries" enabled request executor.

[2019-07-12 20:41] quantumew commented on #182
Here is that bugfix that I mentioned, I am wondering if you are hitting this? https://github.com/articulate/terraform-provider-okta/pull/189. Fixed in v3.0.2 and on

[2019-07-12 21:25] jeremie0 commented on #182
The config I am trying to run now is just trying to add 2 apps.
running provider.okta v3.0.6 so maybe something else is going on.

[2019-07-12 21:27] quantumew commented on #182
Gotcha, yea seems like something else is going on. We have tenants with 50+ apps and don't have this issue. If you run terraform with `TF_LOG=debug` it will dump the http requests. That will help give us a better view into what is going on.

[2019-07-15 00:47] jralmaraz commented on #212
Anyway I can contribute by starting with a simple task like this ? Question coming from an infra guy who wants to start learning how to properly code :)

[2019-07-15 01:55] quantumew commented on #212
@jralmaraz Yea go for it! Take a look here https://github.com/articulate/terraform-provider-okta/blob/master/DEVELOPMENT.md for some dev details. Let me know if you have any questions. This one might be as simple as adding the schema property, using it, and adding a test for it. I am not 100% on the restrictions of editing default policies though.

[2019-07-16 15:03] #183 closed

[2019-07-16 15:32] quantumew commented on #199
Email templates done #217

[2019-07-17 17:12] jeremie0 opened #218 "terraform validate should fail if redirect_uris contains a fragment"
**Is your feature request related to a problem? Please describe.**
If we configure a okta_app_oauth resource as:

[code]
A terraform validate passes:
[code]

but when we terraform apply we get an error back from Okta:
[code]

**Describe the solution you'd like**
It would be great if ```terraform validate``` could catch this - not allow a redirect_uris that contains a # fragment character.

[2019-07-17 17:21] quantumew commented on #218
Agree fully that it would be nice! Unfortunately Terraform ties our hands a bit here, since validation functions are supported on aggregate types in Terraform (Sets, Lists, and Maps). I will have a look though.

[2019-07-19 13:56] jeremie0 commented on #182
I was fine for a week but last night applying some changes we ran into this again.  Here's a debug trace.  I was able to terraform apply -target   each one individually and it was fine, so maybe something when multiple requests are coming in and how the retries work?

[code]

my provider setup:
[code]

[2019-07-19 14:20] quantumew commented on #182
Is that all of the output? It looks like it is retrying but **if** this is all of the output it is definitely not retrying 30 times. Let me run some tests, I can tell you if I can get it to abide your provider config above.

[2019-07-19 14:23] quantumew commented on #182
Whoops accidentally closed. Ok, one other questions, is there something else using the rate limits on these endpoints? There are 100 reqs/min available. Two apps should definitely not be using that up!

[2019-07-19 15:11] jeremie0 commented on #182
We were just  adding 2 apps, but there are lots of other users/groups/apps already defined.
As part of the terraform plan/terraform apply/state refresh it looks like there are lots of calls to get the users and groups for each app, each of those are hammering away at the 100 reqs/second limit.

We hit the rate limit a couple times before the output I had pasted above, but the provider was handling

[2019-07-19 15:34] quantumew commented on #182
Got it, thanks for laying out the details, that does make sense. I will confirm the options are being respected and report back!

[2019-07-23 20:00] quantumew commented on #162
@salekseev @hgibsonqb Were you able to solve this? We are hitting a very similar issue on another one of our resources. I was curious if you had any insight or if we should also take this issue up with Okta's engineering team as well? Perhaps, they could at least triangulate this to some logs. cc: @noinarisak

[2019-07-23 22:07] paullschock opened #219 "Support for "logo" when building applications"
When building applications via terraform, it'd be nice to be able to personalize the application by uploading a custom logo.

From reviewing the API documentation for Okta (https://developer.okta.com/docs/reference/api/apps/#add-application) this does not yet appear to be supported, but I wanted to open an issue to track in case this changes.

Possible implementation (pending implementation of the

[2019-07-23 22:55] quantumew commented on #219
I was asked by Okta to supply the deficiencies in Okta's API that is limiting the provider so I will definitely pass this on.

[2019-07-24 22:26] joshk0 opened #220 "can't opt-in to group user management when importing a group"
## Expected Behavior
When I import a group, and it contains some users, and my tf wants to manage the users, a plan should show that the group already has users and compare it against the tf list of users.

## Actual Behavior
Until the first apply, or until you adulterate the state to add a non-empty users array, terraform will not show an accurate delta of group users compared to what is in okta.

[2019-07-24 22:26] joshk0 commented on #220
The proximate cause is probably [this line of code](https://github.com/articulate/terraform-provider-okta/blob/master/okta/resource_group.go#L119-L122)

If it could be modified to check and see if we are about to start managing the list of users on the next plan and then sync the group users, that would be great.

[2019-07-24 22:28] quantumew commented on #220
Ah right, that makes sense. Let me write a test to replicate and get it fixed.

[2019-07-25 15:47] c-knowles opened #221 "Regex filter type"
Are there any examples for regex filters in SAML apps? e.g. the other values available for https://github.com/articulate/terraform-provider-okta/blob/2c238d5f7bf02487161a64e4c74e61a6b93e4756/examples/okta_app_saml/custom_saml_app_all_fields.tf#L25. I can't seem to get this attribute to work even based on this values from the example. Also could not find it in the Okta SDK at https://github.com/okt

[2019-07-25 17:12] quantumew commented on #221
@c-knowles yea I had to add this functionality to our fork of the SDK, just opened a ticket for that now that you reminded me https://github.com/okta/okta-sdk-golang/issues/76. I have some examples in my closed source TF. Let me get better examples committed here.

[2019-07-25 18:06] quantumew commented on #221
Below should work, but it sounds like you tried this. I am using this personally so I would be surprised if there was a bug here but perhaps. Going to write a test for this specifically and link it here.

[code]

[2019-07-25 18:22] quantumew commented on #221
This is working for me but I found a bugfix for this in 3.0.4. I neglected to jot it down in the CHANGELOG. I fixed that in #222. I am thinking this will start working like a charm after an update.

[2019-07-26 05:54] c-knowles commented on #221
Awesome! Upgraded to latest 3.0.10 and it's working now. Thanks a lot for the examples. I will leave the issue open in case you want to track the fork revert back to official SDK.

[2019-07-26 05:55] c-knowles commented on #221
BTW, the latest version says it is upgraded to Terraform 0.12 but is it required? 3.0.10 appears to run ok with 0.11.14.

[2019-07-26 14:20] quantumew commented on #221
Not required. Still works with 0.11. I will update the docs to make that clear.

[2019-07-26 14:41] shantanugadgil commented on #221
@c-knowles a related discussion
https://github.com/articulate/terraform-provider-okta/issues/209

[2019-07-29 09:27] c-knowles opened #225 "Locked accounts cannot be unlocked"
## Expected Behavior

If a user gets locked out then a terraform plan produces this:
[code]

Activating the user should be possible.

## Actual Behavior

If a user is locked out but active in the terraform config and then the above plan is applied, the following occurs:

[code]

## Steps to Reproduce the Problem

1. Have an active user in the terraform code
2. Lock that user out, e.g. too many inc

[2019-07-29 11:14] quantumew commented on #225
There is an unlock endpoint. Right now it is trying to call activate, which results in the error.

[2019-07-29 13:24] #225 closed

[2019-07-31 11:19] c-knowles commented on #225
Awesome! Not tested yet but thanks for the quick response.

[2019-07-31 11:40] c-knowles opened #227 "SAML app Requestable SSO URLs"
Is it currently possible to set `Requestable SSO URLs` for SAML app configs? This option is available once `Allow this app to request other SSO URLs` is checked on on the SAML app setup page. I could not see an Okta API option so not sure it's even possible.

[2019-07-31 11:42] shantanugadgil commented on #225
Let me chime in on the turn around speed ... since I have started using this provider (not knowing if it would help me solve my problems), I can wholeheartedly say that the enhancements have been indeed very quick, and have helped me to solve a real world problem very efficiently.

This project is on my watch list, as I want to know what new is going on; more than once I have found out capabilitie

[2019-07-31 12:48] quantumew commented on #227
Unfortunately Okta, for whatever reason, does not expose this via their API. Opening a feature request with them.

[2019-07-31 14:52] msmrnv1 commented on #144
I am still seeing the issue when I try to create more than one custom field in the user schema. It works fine when it is just one custom field but it usually crashes when I create more than 1 custom field.

It looks like it is still getting nil after sleep function and getSubchema call

			time.Sleep(time.Second * 3)
			subschema, err = getSubSchema(d, m)

[2019-07-31 16:07] quantumew commented on #144
Interesting I tested it quite a lot with no issues. How often have you hit this?

I actually got to chat with Okta about this and it might be related to their API lying to us. Saying it is created when it actually was just queued up to be created. This is definitely just a bandage until they attend to that issue. I will dig into it a bit more.

[2019-07-31 16:08] quantumew opened #228 "Okta tells us it creates a resource but it lies"
Seeing some issues around resources being created, Okta returning a 201, then use going to use those resources, and us getting errors. This happens a lot on resources that reference other resources.

[2019-07-31 16:10] quantumew commented on #144
I should also say, this should no longer panic, it should now simply error, if it is panicking that should be corrected anyways. Let me validate that. Also if you could validate the version of the provider you are using? Guessing the latest!

[2019-08-01 00:59] msmrnv1 commented on #144
Yes, it was still panicking and it happens almost every time. I changed a bit in the fork to check for nil condition for schema to avoid the panicking. Only err was checked in that block.

		if subschema == nil {
			return fmt.Errorf("error getting resource %s: %s", d.Id(), err)
		}

[2019-08-01 01:56] quantumew commented on #144
Seriously, I forgot the gaurd statement lmao. Ok adding that. Will follow up and dig into why that is not working. Was this on Update? Or Create? Multiple schema properties?

[2019-08-01 02:00] quantumew commented on #144
Ok corrected in v3.0.12. Should have time this weekend to dig in further to this one.

[2019-08-01 02:27] msmrnv1 commented on #144
It was on create. Below a sample of what I have in tf file

resource "okta_user_schema" "schema_uuid" {
  index       = "UserUuid"
  title       = "User UUID"
  type        = "string"
  description = "The internal user identifier"
  required    = false
  min_length  = 1
  max_length  = 50
  }

resource "okta_user_schema" "schema_fb" {
  index       = "facebookLinkingId"
  title       = "External F

[2019-08-01 13:08] quantumew commented on #144
Ok I think I figured out what is happening here. It looks like having multiple schema objects, due to the way the endpoint works, are conflicting. Fix coming soon. I may create a new resource that combines the entire schema into a single resource.

[2019-08-06 15:46] msmrnv1 opened #231 "To be able to create users from a file in bulk"
I would like to be able to have an option to create users in bulk (e.g. define a list of users in JSON object) and assign them to a specific user group. I did not find any good way to do that using the current resources.
Do you have any recommendation based on the current functionality or that will be a new feature?

[2019-08-06 15:58] quantumew opened #232 "Data source searching with Q"
Okta's search API for many resources is not super great. If you have two resources `Thing` and `Thing Thing` both will appear in a search for `?q=Thing`, and you cannot control the order. We can bandage this in the provider by doing some better filtering after making the search requests. We could use a fuzzy algorithm to get the closest match.

[2019-08-06 16:28] quantumew commented on #231
This would be a new feature. It would be a limited resource. Importing existing resource would be kind of a mess, it would be `{user_id}/{user_id}...`,  that would be a bit of a pain but scriptable. You also wouldn't get all of the schema goodness Terraform provides or any of the lifecycle ignore stuff. Maybe a beneficial nonetheless. Let me know if I am off track.

Pseudo example

[code]

It woul

[2019-08-06 18:01] msmrnv1 commented on #231
That will probably work. My use case is more focused on creating small number of the users with admin roles that can be different depending on environment.
So I would be able to define a variable in dev.mycompany.tfvar file for my dev env (qa env will have qa.mycompany.tfvar) that will have something like this
super_admin_users: "{
  "users": [
    {
      "first_name": "\"Joe\"",
      "last_name

[2019-08-06 18:15] quantumew commented on #231
Oh I see what you are saying. Cool, that is better than the JSON payload idea, because we get all of the Terraform goodness. I think this might already be possible, I will follow up shortly with an example or I will fail trying and mark this as a new feature.

[2019-08-06 18:19] msmrnv1 commented on #231
great, thanks!

[2019-08-06 20:01] quantumew commented on #31
Fixed by #230

[2019-08-06 20:01] #31 closed

[2019-08-06 20:02] quantumew commented on #209
@shantanugadgil Looks like you were right. Totally works with x5 but should be x4. All future binaries will follow this patter. Good call!

[2019-08-06 20:02] #209 closed

[2019-08-06 20:03] #221 closed

[2019-08-07 11:14] c-knowles opened #234 "Associate app parameters with a group"
Is it possible to change attributes at the group level of an app assignment? For example if adding groups to the G Suite app assignments, we can add an organization unit value there in the UI but wondering if it's possible to do in terraform?

[2019-08-07 11:21] quantumew commented on #234
I haven’t looked into this particular scenario but likely there is no API support. We had a very similar need with the AWS SAML App roles and found the API was readonly. I will investigate this one shortly. If it is not supported I can open a feature request for it.

[2019-08-07 19:37] quantumew opened #235 "Internal Okta API Resources"
Can we start to build resources for things that have no public API? In my opinion, we can as long as it we very clearly mark these resources as "contractless" and output a warning message.  We should make it clear that Okta reserves the right to change the API without a version increment being that it is leveraging a `/internal` endpoint.

The other caveat is auth. Some of these endpoints do not t

[2019-08-09 20:20] msmrnv1 opened #236 "Creation of policy rule signon fails"
I am trying to create the okta_policy_rule_signon resource that has network connection ZONE and network exclude defined e.g.

resource okta_policy_rule_signon admin_rule_signon {
  policyid       = "${okta_policy_signon.admin_signon.id}"
  name           = "Internal Network"
  access         = "DENY"
  status         = "ACTIVE"
  network_connection = "ZONE"
  network_excludes = ["00pmuh1fjohUG5oD8

[2019-08-09 20:26] quantumew commented on #236
I 👃a bug in the provider. I wonder if it is sending both unintentionally. Let me cook up a test real quick.

[2019-08-09 20:39] quantumew commented on #236
Ok yea looks like I was trying to do right thing but the logic wasn't quite right. #237 works for me.

[2019-08-09 20:46] #236 closed

[2019-08-09 20:49] quantumew commented on #236
Ok just posted v3.0.14 with #237. I was able to create this resources properly after this change. Should be 💯 now.

[2019-08-10 01:47] msmrnv1 opened #238 "Issue with the user creation with group and role assignments"
I am creating a user that gets assigned to a group and the role gets assigned to the group. It works great when I run it once. However if I run it second time, it gives me the following error

Error: [ERROR] Error Updating Admin Roles On User: The API returned an error: Not found: Resource not found: gramupp46qf7QZyxU0h7 (RoleAssignment)

 180: resource okta_user admin_user1{

I have something lik

[2019-08-10 01:56] quantumew commented on #238
Interesting, I use this same pattern in several places and have not run into this. The error appears to be coming from an attempt to update the user admin roles. Did this user previously have admin roles directly assigned? I’d be curious to see the plan if you have it handy. I think I have an idea of how it got in this state so I will try reproducing.

[2019-08-10 02:08] msmrnv1 commented on #238
No, it is a brand new user and it does not have any roles directly assigned to him. In fact, it happens with more every user I create using this approach. First time it works perfectly, but it fails when I run the second time with the exact same message for every user.

[2019-08-10 02:13] quantumew commented on #238
Gotcha, should be easy to repro then. I will get it reproduced via an acceptance test and get a fix pushed out. I have a feeling the user admin roles are not playing nicely with the group admin roles resource.

[2019-08-10 13:15] quantumew commented on #238
I forgot to mention you can likely get around this now by lifecycle ignoring the user attribute admin_roles

[2019-08-10 20:50] msmrnv1 commented on #238
Thanks, can you show the example of the work around?

[2019-08-10 20:53] quantumew commented on #238
Sure thing. About to merge #239 with the fix but here is what you can do in the meantime

[code]

[2019-08-10 21:22] #238 closed

[2019-08-12 18:02] msmrnv1 opened #240 "To be able to create tokens under security->API"
I would like to be able to create a token that can be used later by an application to call Okta admin APIs. Is there a way to do it today?

End Point: api/internal/tokens?expand=user
Request Param: {"name":"Test Token"}

[2019-08-12 18:17] quantumew commented on #240
There was a public API for this at one time but it was deprecated. We have recently considered starting to look at internal APIs for resources: #235. I fear this endpoint will be difficult to build a resource around. Tokens are tied to user accounts, this endpoint likely requires the user creating a token have an active session. I would guess this would require the provider to have each user's  cr

[2019-08-12 18:32] msmrnv1 commented on #240
Ok, appreciated.. OKTA support did mention that they might release a feature to support the service accounts for token generation. I am not sure about the timing of that though.

[2019-08-12 18:34] quantumew commented on #240
I do remember hearing about that, I will keep that in mind and report back. Thanks for the reminder!

[2019-08-14 02:33] christek91 opened #242 "New Resource: Okta Group App Assignment"
**Is your feature request related to a problem? Please describe.**
For my use case, I have one set of Terraform Configurations that create and manage Okta Applications. I also have a separate set of Terraform Configurations that create and manage Okta Groups.

The Groups and the Apps live in separate TF State, and have different lifecycles.

I'd like to be able to assign Applications to Groups in

[2019-08-14 02:44] quantumew commented on #242
For sure, this is definitely on the radar. We have a case where for various reasons we don’t manage the app in TF at all but still want to manage group/user memberships. This is where the proposed resource(s) would come in handy. Going to tag this as an enhancement and see if I can get it in soon, it would be a fairly easy win.

[2019-08-14 05:14] c-knowles opened #243 "resource_user_schema array_type typo"
Not using it but noticed in passing - https://github.com/articulate/terraform-provider-okta/blob/75d707c136e86076cceec64ab45503416e2607bc/okta/resource_user_schema.go#L46 says `interger` not `integer`.

[2019-08-14 05:17] c-knowles commented on #243
Same with https://github.com/articulate/terraform-provider-okta/blob/75d707c136e86076cceec64ab45503416e2607bc/okta/resource_user_base_schema.go#L45

[2019-08-14 05:36] c-knowles opened #244 "Custom field for an app specific profile and setting this field for a user"
**Is your feature request related to a problem? Please describe.**

In Okta it is possible to add a custom field under the Profile Editor of a specific application. This can then be customised for any user assignments to that app. It also appears to be possible in the Okta API. I have seen there is `okta_user_schema` and `okta_user_base_schema` but I did not spot a way in the terraform so think th

[2019-08-14 05:43] c-knowles commented on #244
Slightly related to https://github.com/articulate/terraform-provider-okta/issues/234 in that the field to user association is the same as the group association piece there.

[2019-08-14 06:00] shantanugadgil commented on #243
👍  The typo is there in the description field as well. this can be easily fixed with a quick and simple PR. 🥇

[2019-08-14 12:27] #243 closed

[2019-08-14 12:30] quantumew commented on #244
This is actually in the pipeline now, no issue for the work though so this is great. We will be adding an app user schema resource soon.

[2019-08-14 14:32] msmrnv1 opened #246 "User Profile Mappings"
Is there any way to update the User Profile Mapping for Social IdP? I need to be able to update the mapping between the google IdP and Okta schema as well as the rules on create and update. Looks like it's also one of the internal APIs that is used to update this from the console, but I hope there is a way to do it via terraform.

[2019-08-14 14:37] quantumew commented on #246
There is no public API for profile mappings unfortunately. I will make sure there is a feature req opened with Okta and I will  investigate the internal API to see if it is viable.

[2019-08-17 04:31] c-knowles commented on #234
I had a look at the API and tried a few calls. This is available via `profile` on Application Group Properties - https://developer.okta.com/docs/reference/api/apps/#application-group-properties and is custom to each app. e.g. Lucidchart has `canEdit` whereas G Suite has `orgUnitPath`.

[2019-08-17 13:52] quantumew commented on #234
Good deal thanks for investigating. We saw the same thing with AWS SAML app but the profile property was read only, that was the one thing I needed to verify. I set aside some time this weekend should have time to look at this.

[2019-08-18 08:49] c-knowles commented on #234
Ah ok, I hadn't tried those calls before but tried just now. Seems to align to the docs where `priority` and `profile` are readonly=false. I tried a few calls of this form below and was able to change information in the profile:
[code]

[2019-08-18 12:39] quantumew commented on #234
Awesome! That sounds really promising.

[2019-08-18 20:24] quantumew commented on #144
Finally got around to this one and I confirmed resource get overwritten when concurrent requests are sent to Okta's API. Opening an issue with Okta, for now we can use `depends_on` to ensure any new resources are created one at a time.  See #247 for the updated example: https://github.com/articulate/terraform-provider-okta/blob/af2012d239093fe64201663ac89182df8160b13c/examples/okta_user/custom_att

[2019-08-18 21:30] #37 closed

[2019-08-18 22:16] quantumew commented on #244
Ok just got #247 merged, look for v3.0.17 release. It adds `okta_app_user_schema` which takes an `app_id` which will allow you to create custom user schemas for an application. Next I will be working on the app user/group profile part of it.

[2019-08-18 22:36] quantumew opened #248 "Nested Resources"
At the advent of this project we followed the pattern of nesting resources. For instance, `okta_user` takes resources for the user but also takes `group_memberships`, which is a separate API. In my opinion, this was a mistake, I suggest we deprecate these properties and instead make association resources. This allows for maximal flexibility and prevents issues such as #220 where a single thing can

[2019-08-18 22:45] quantumew commented on #228
Closing this, will open specific instances if they come up.

[2019-08-18 22:45] #228 closed

[2019-08-19 03:58] #102 closed

[2019-08-19 03:58] #242 closed

[2019-08-19 14:02] msmrnv1 commented on #144
Thanks for an update. That is what I have been using as a work around. I had to create explicit dependency for each custom field so it works now.

[2019-08-22 10:35] conor-mullen opened #255 "Can't disable automatic user provisioning for IdP"
## Expected Behavior
As per Okta's API docs, I would expect to be able to set `provisioning_action = "DISABLED"` when defining an IdP
e.g.
[code]
## Actual Behavior
`terraform plan` fails with `Error: expected provisioning_action to be one of [AUTO ], got DISABLED`

Accepted values are "AUTO" and "". If you set `provisioning_action = "AUTO"`, everything is fine but if you set `provisioning_action

[2019-08-22 13:49] quantumew commented on #255
Thanks for reporting, will get a fix in shortly for this!

[2019-08-22 15:06] #255 closed

[2019-08-22 22:01] jeremie0 opened #259 "group_filter_type validation is incorrect"
## Expected Behavior
you should be able to create an okta_auth_server_claim with group_filter_type = "STARTS_WITH". https://developer.okta.com/docs/reference/api/authorization-servers/#claim-properties

## Actual Behavior
I receive an error from terraform validate:
Error: expected group_filter_type to be one of [START_WITH EQUALS CONTAINS REGEX], got STARTS_WITH

## Steps to Reproduce the Problem

[2019-08-22 23:58] quantumew commented on #259
On it! Definitely a incorrect spelling and likely a missing acceptance test. Adding both soon.

[2019-08-23 00:52] #259 closed

[2019-08-23 10:47] jeremie0 commented on #259
thank you!

[2019-08-23 11:00] jeremie0 commented on #240
I bet they are talking about the Oauth 2.0 for Okta APIs feature.

OAuth 2.0 for Okta APIs
Enable scoped OAuth 2.0 tokens for Okta APIs. This will allow administrators to configure specific scoped Okta API access policies for OAuth 2.0 and OIDC applications in an Okta tenant.

This will likely change the whole flow for interacting w/the Okta APIs.

[2019-08-26 15:06] wiciu125 opened #261 "Option to show/hide an OAuth app from terraform"
When preparing  OAuth app from terraform there is no option to show/hide it in the application list. This operation can be done directly form the OKTA page. ("Display application icon to users") Would it be possible to have this implemented in terraform okta provider?
![b1591918-a88c-45ac-b855-993a2ca79e21](https://user-images.githubusercontent.com/33459496/63700663-ac33d780-c823-11e9-9ecb-4a99195

[2019-08-29 14:55] quantumew opened #264 "App User Scope"
We need to investigate the best way to manage App Users. Setting a user's username manually that is group scoped is possible now but it causes perpetual drift because the provider tries adding the user but then Okta keeps them as group scoped. Top of the head proposal

* Allow scope to be set on the new `okta_app_user` resource

https://github.com/articulate/terraform-provider-okta/blob/master/okt

[2019-08-29 14:59] quantumew commented on #264
Closing this, actually looks like this is already possible.

[2019-08-29 14:59] #264 closed

[2019-08-30 18:46] quantumew commented on #144
This makes zero sense. I spoke with Okta support, and it sounds like this is just how the API works. It is batching the requests and only taking the final change, even though it is reporting back that it is taking the previous changes as well. Even though these are individual requests for individual distinct properties.

[2019-09-02 23:56] Kyslik commented on #244
@jeremie0 thank you for this feature.

---

Today we hit a problem though. If we specify that custom field is `required = true` and we create user assignment within the okta_app without the custom attribute then `terraform apply` fails (note that plan went OK).

Shortened failing example:

[code]

It's not just about the validation. Given that we specify the custom attribute there is a cyclic depe

[2019-09-03 00:14] quantumew commented on #244
@Kyslik tbh It was an early mistake to add nested `users` set on application (see #248 ). At some point we will deprecate that. For now, you can use the new resource `okta_app_user` (see #249) and just add an ignore. That reminds me I will add an issue to update our examples to use this approach.
[code]

[2019-09-03 00:16] quantumew opened #266 "Update App Examples"
Now that we have the `okta_app_user` resource, use that in our application examples. See #248, opened this in response to confusion in #244.

[2019-09-04 15:49] conor-mullen opened #267 "Travis builds fail because git.apache.org is down"
## Expected Behavior
Travis should load all module requirements.
## Actual Behavior
Building the provider fails
[code]

## Steps to Reproduce the Problem
Attempt to build with Travis

## Additional info
People have reported the issue on the terraform repository
https://github.com/hashicorp/terraform/issues/22664

A suggested fix is to set `GOPROXY=https://proxy.golang.org` or use Go 1.13

[2019-09-04 16:08] #267 closed

[2019-09-04 16:08] quantumew commented on #267
Ok got this updated to 1.13 on master. Thanks for reporting this!

[2019-09-04 19:04] cgriggs01 opened #269 "Terraform Provider Development Program - Review"
Hey Team!

I’ve taken a look at the provider here and would like to say great work so far! I do have feedback outlined below that I’d like to see addressed before we move on to the next steps. I’m opening this issues as a sort of checklist for tracking items and discussion. The review was done on the develop branch at git commit `ccfd6ab`

- [x] If a resource cannot be found(404) in the READ funct

[2019-09-04 19:28] quantumew commented on #269
@cgriggs01 Really appreciate you digging into this, I will get started on these soon. Two quick notes on this.

Apropos the acceptance tests, both of those tests are failing for you and not for us due to missing test config. We have MFA factors flipped on already and we have `articulateId` defined in our user schema. Easy fix, just need to add those dependencies to the test config.

In reference t

[2019-09-04 21:10] cgriggs01 commented on #269
Hey @quantumew,

That sounds great, thanks for clarifying those two points.

 I don't see an issue with the SDK implementation, but may I ask why the official SDK doesn't support all API endpoints?

[2019-09-04 21:15] quantumew commented on #269
Cool, I have wondered the same. I will open an issue with them to inquire about it. Thanks!

[2019-09-04 22:21] evanger24 opened #270 "Unable to build provider using steps in readme"
## Expected Behavior

Upon executing `go build -o .terraform/plugins/$GOOS_$GOARCH/terraform-provider-okta` I expect that the library is built.

## Actual Behavior
`github.com/articulate/terraform-provider-okta/sdk
sdk/api_supplement.go:37:31: m.RequestExecutor.DoWithRetries undefined (type *okta.RequestExecutor has no field or method DoWithRetries)`

## Steps to Reproduce the Problem

`go get -d

[2019-09-04 22:28] quantumew commented on #270
@evanger24 Do you have go modules enabled? I will update the README to explicitly call this out. You are hitting this issue due to the fact that we use a fork of Okta's SDK https://github.com/articulate/terraform-provider-okta/blob/master/go.mod#L27. Basically the SDK is missing back off retry logic.

[2019-09-05 15:11] evanger24 commented on #270
That works that you for the response!

[2019-09-05 15:11] #270 closed

[2019-09-06 17:36] quantumew opened #272 "okta_event_hook"
Okta Event Hooks are now EA, add a resource for it.

https://developer.okta.com/docs/reference/api/event-hooks/

[2019-09-09 17:52] shane-brosnan opened #274 "sdk/api_supplement.go GetXml() error"
In method GetXml() in sdk/api_supplement.go, the okta.RequestExecutor.DoWithRetries() function is invoked but the okta.RequestExecutor object only has method Do() (https://github.com/okta/okta-sdk-golang/blob/master/okta/requestExecutor.go).

ERROR: github.com/articulate/terraform-provider-okta/sdk/api_supplement.go:38:31: m.RequestExecutor.DoWithRetries undefined (type *okta.RequestExecutor has n

[2019-09-09 17:54] #274 closed

[2019-09-09 17:54] shane-brosnan commented on #274
I see there was a similar closed issue recently

[2019-09-13 08:34] Govvy opened #276 "Read existing config of Okta Org into terraform"
A way to read the current configuration of an okta tenant into terraform.

Provide a way to read back all the current config as a first step

That way anyone getting started with the CI/CD tooling can preserve any existing config in the environment and run these automated processes from then onwards…

[2019-09-13 11:41] joshuatalb commented on #246
@quantumew @msmrnv1 - there's a mapping API in the docs, found here: https://developer.okta.com/docs/reference/api/mappings/#getting-started.

Would this be enough to achieve the result you're after, @msmrnv1?

We also would like to control our mappings via Terraform. If there's enough demand, I'll create a PR with new TF resources to manage them.

[2019-09-15 20:40] quantumew commented on #246
I took a really quick glance at it but this looks promising. Adding the next up tag. We would also like to use this!

[2019-09-16 14:26] quantumew commented on #276
This would be outside the responsibility of the Terraform provider and instead would require a separate open source tool. One prominent example is the [AWS provider](https://github.com/terraform-providers/terraform-provider-aws) and the [tool used to aid in the import process]( https://github.com/dtan4/terraforming). All Terraform providers expose an [import command](https://www.terraform.io/docs/

[2019-09-18 12:37] nijave commented on #235
What's the auth flow look like on these? I was playing around and it looks like you need a cookie and CSRF token for the internal APIs. I just grabbed them out of the browser but I imagine automating will require a bit more work

[2019-09-18 19:44] quantumew commented on #235
@nijave unfortunately, I have not explored this at all since opening it. I am still sticking to my old approach, block tickets without APIs and open a feature request with Okta via https://ideas.okta.com. With that said, I sort of assumed this would not be pretty if it was plausible at all. If you get a chance to dig deeper, any info would be much appreciated. Thanks!

[2019-09-19 16:21] encron commented on #234
Is there any update on this yet? In our use case we'd like to assign AWS IAM roles to our Okta groups through the `okta_app_group_assignment`. Through the API it's possible to do this like @c-knowles said with a `PUT` call:
[code]

So it would be nice if it was possible to pass the `profile` value when creating the `okta_app_group_assignment`.

[2019-09-19 18:59] quantumew commented on #234
Sorry for the delay y'all. I have had no time to get to this. Unfortunately all of my energy on this project has now been directed towards #269. Fortunately this is potentially really simple so I am going to get to it this weekend and post an update for you Monday. Thanks!

[2019-09-20 07:06] encron commented on #234
Cool! Thanks for taking the time ;)

[2019-09-23 01:21] #234 closed

[2019-09-23 01:21] #244 closed

[2019-09-23 07:40] jralmaraz commented on #231
That example would be great! Did we have any ? Thanks.

[2019-09-23 11:06] jralmaraz opened #281 "User Schema: String Array attribute with Enum"
Hi,

I am trying to have the similar custom attribute as the screen-shot below. What would be the recommended approach with through the provider ?

![image](https://user-images.githubusercontent.com/13877691/65420398-68dd8080-de44-11e9-86a1-c1aec426d0c3.png)

Tried using the depends_on clause, but that creates an extra String attribute that is not needed.

From the browser's schemas page, we have

[2019-09-23 13:50] quantumew commented on #276
Ok closing this here since the work is not directly related to this repo. One of these weekends, likely after finishing up the Hashicorp review, I will get to work on this https://github.com/quantumew/terraforming-okta. It will be a cli you point at your tenant, it will have JSON to HCL mappings, and it will generate the config. It likely will also spit out a JSON file mapping addresses to IDs wit

[2019-09-23 13:50] #276 closed

[2019-09-23 14:50] quantumew commented on #281
Hey @jralmaraz! Yea `depends_on` is only recommended when you have multiple schema properties (due to the way Okta handles concurrent requests on that endpoint). The one thing I am seeing here is a mismatch between the elements in `enum` and the elements in `one_of`. Enum is `["test", "1", "2"]` but `one_of` does not contain `"1"`, instead it contains `"3"`. I am assuming that is what the API is c

[2019-09-23 23:41] jralmaraz commented on #281
Hi @quantumew ! Thanks, that was a typo (I actually had real values and had quickly created this test ones to be safer :) )

I also tried wrapping each value of the enum in array brackets, which doesn't work.

[code]

[2019-09-23 23:45] jralmaraz commented on #281
Tried the following as well and the error is the same (I am not sure if the enum for String Array is supported in the SDK, but couldn't confirm that yet :( )

[code]

[2019-09-23 23:56] quantumew commented on #281
@jralmaraz Thanks for clarifying! Cool let me try cooking up an example and linking it here.

[2019-09-24 00:02] jralmaraz commented on #281
Hi @quantumew ! Thank you for the quick response and sorry for the lack of development skills (Ops guy struggling). Let me know if there is any missing info or anything else I can add.

Cheers!

[2019-09-24 00:05] jralmaraz commented on #276
Hi @quantumew , keen to help with this one !

[2019-09-24 00:42] quantumew commented on #281
Hey @jralmaraz, looks like we weren't supporting it. Opened #282 to add support for it. Should be released soon!

[2019-09-24 01:50] #281 closed

[2019-09-24 06:13] jralmaraz commented on #281
Thanks for following this one up !

[2019-09-24 09:26] jralmaraz opened #283 "okta_auth_server_policy_rule - refresh_token_window_minutes and refresh_token_lifetime_minutes increase of maximum values"
Hi,

Some mobile apps have a requirement for a longer refresh token window and lifetime (in one of the cases we have that setup for 360 days).

When creating the access policy rule through terraform, I noticed the below:

expected refresh_token_window_minutes to be in the range (10 - 129600), got 518400

Is there any plan for it to be extended ?

Thanks.

Jose

[2019-09-24 10:32] jralmaraz opened #284 "okta_auth_server_policy - client_whitelist - Recommendation on how to refer a client app ID"
Hi,

Firstly, sorry for raising so many issues, but there are some specific attributes or structure that are a bit hard to link their best usage just yet :)

Looking at the okta_auth_server_policy resource:

https://github.com/articulate/terraform-provider-okta/blob/master/okta/resource_okta_auth_server_policy.go

I would like to refer to an external oauth application resource in the client_whitel

[2019-09-24 10:47] quantumew commented on #284
Yea there is no good example of this. I included one in #285.

[2019-09-24 13:11] #283 closed

[2019-09-24 13:11] #284 closed

[2019-09-27 19:29] msmrnv1 opened #286 "Email Template customization"
Hi,

I am trying to customize the email templates and I would like to reuse the existing HTML templates that I have. It is a pretty long html text. What would be the best approach to do that?

Also, I would like to customize the sender from. Can this be done thru terraform?

[2019-09-27 19:49] quantumew commented on #286
Unfortunately, last I checked the sender was set via the customization settings which doesn't have an exposed API. I can verify that though.

As to writing the template in Terraform, I am guessing you are having trouble because we don't do any normalization, which makes the template in TF not very readable since the API likely normalizes it and ends up in a perpetual diff. Let me write a more comp

[2019-09-27 19:51] quantumew commented on #286
In the meantime you can use this example to guide you https://github.com/articulate/terraform-provider-okta/blob/master/examples/okta_template_email/basic.tf. It might require you to write your template in an editor, then normalize it yourself until I automate that!

[2019-09-27 20:22] msmrnv1 commented on #286
Yes, you're right on point. Thanks

[2019-09-27 21:36] NeenuAVarghese opened #287 "Cannot perform actions on okta_auth_server.custom_auth_server resource when credentials_rotation_mode is set to MANUAL"
## Expected Behavior
Should be able to `plan`, `import` etc when the Okta Auth server credential setting is set to Manual
## Actual Behavior
[code]

## Steps to Reproduce the Problem
1. Create a Okta AuthServer and set the  credential rotation mode to Manual.
2. Create a Okta Auth Server resource  in terraform
3. Try to import the AuthSever state to terraform - You will see the above error
3. Chan

[2019-09-27 21:41] NeenuAVarghese opened #288 "Terraform Module should pull in nested resource"
## Actual Behavior
Cannot update `sub` claim in a resource in the Okta Auth server

## Steps to reproduce
Links to the relevant code, snippets
[code]
Apply the above changes and terraform will error out saying that the claim names conflict

# Expected Behavior
Terraform should be able to pull in nested resource of the auth server it creates in Okta
Note: This also causes issues when doing a terraf

[2019-09-27 22:00] quantumew commented on #287
Interesting, I will get a test written up for this to repro and get it fixed. Likely a bug.

[2019-09-27 22:03] quantumew commented on #288
I don't believe the editing of system level claims was ever added to the provider. We will need to get this added!

[2019-09-29 21:13] NeenuAVarghese opened #289 "Cannot update Default Password Policy configuration"
## Expected Behavior
Should be able to update Default Password Policy configuration
## Steps to Reproduce the Problem
[code]
When doing `terraform plan`, I get that the resource will be updated
[code]
However, when I do a `terraform apply`, I get the following error:
[code]

[2019-09-29 21:16] quantumew commented on #159
Closing this there is a data source for it.

[2019-09-29 21:16] #159 closed

[2019-09-29 21:24] quantumew opened #290 "Support amending system resources"
Several resources don't support amending system "default" resources that get added to the tenant by default. We should either add a new resource or support it in the existing resource. The approach may vary depending on the API restrictions. More specific reports of this issue: #289 #288

- [ ] `okta_auth_server`
- [ ] `okta_auth_server_claim`
- [ ] `okta_auth_server_scope`
- [ ] `okta_auth_server

[2019-09-29 21:26] quantumew commented on #289
Same deal as #288, I think this has been silently on the TODO for some time so I am going to use #290 to track this work for all resources. Thanks for the report!

[2019-09-30 01:47] jralmaraz commented on #246
+1 for the mappings :)

[2019-09-30 13:43] quantumew opened #291 "SDK"
There are 3 SDKs technically used. The old one should go away, and mostly has. The official one is an alias for our fork due to the original being behind for sometime. The internal one because Okta doesn't support all of their endpoints. Here is the consolidation plan.  Only use the official one, which is aliased to our Fork. We will move the internal endpoints to the fork, they already use the in

[2019-09-30 13:47] quantumew commented on #269
Hey @cgriggs01, I got all of these changes in with one caveat. We still have a split in the SDK but there is a plan outlined in #291. Can we move forward with that piece not quite finished? Okta has been antsy to get this out and I have had difficulty finding time for this work.

[2019-09-30 19:16] nijave opened #292 "Sporadic Okta connection refused errors"
## Expected Behavior
It works

## Actual Behavior
[code]

## Steps to Reproduce the Problem
Environment: Wired fiber connection
Steps: Run Terraform plan a bunch of times

## Additional info
It seems like this is possibly a rate limit? Has anyone else seen similar errors? Usually trying again or switching API keys works fine

[2019-09-30 19:35] quantumew commented on #292
A rate limit issue should not cause a connection refusals. I have not ran into this myself yet and our tests run a lot of plans against our test org. This sounds like an Okta networking issue based on the error. You may want to report this to Okta. It would also be interesting to see the output of `TF_LOG=debug` when the failure happens.

[2019-09-30 19:57] nijave commented on #292
Probably an issue with the internet connection, then although it was only popping up for Okta and not AWS which has significantly more connections (although it did previously)

[2019-09-30 22:56] nijave commented on #292
I'll close this for now and assume it's on my end unless I find more info.

[2019-09-30 22:56] #292 closed

[2019-10-02 04:40] jralmaraz opened #293 "Native app - expected grant_types.2 to be one of got refreshToken"
Hi,

When defining the following app, currently the validation of the grant types fails with:

[code]

This is doable through the UI as:

![image](https://user-images.githubusercontent.com/13877691/66018463-82f12000-e522-11e9-99c7-0db7de51fec7.png)

Anything I might be doing wrong in the declaration ?

Thanks!

[2019-10-02 06:47] #293 closed

[2019-10-02 06:47] jralmaraz commented on #293
Please ignore, this had a mixed of wrong variables set

[2019-10-02 20:00] msmrnv1 opened #294 "supporting format character restriction in Profile Editor"
I cant find a way to specify the pattern for format character restriction when I update a field in Okta schema. I tried to use something like this

resource "okta_user_schema" "schema_login" {
  index       = "login"
  title       = "Username"
  type        = "string"
  required    = true
  min_length  = 1
  max_length  = 50
  pattern     = "[\\^a-zA-Z0-9\\\\\\\\\\+\\@\\.\\_-]+"
  permissions = "R

[2019-10-02 20:35] quantumew commented on #294
Thanks for the report. I was unaware this was even possible. Will get that property added this evening. Looks very straight forward.

[2019-10-03 13:40] msmrnv1 commented on #294
great, thanks

[2019-10-04 00:10] msmrnv1 commented on #294
I got the latest version, but it is not updating for me. I see see some warming, but I dont think that's a real issue
2019/10/03 20:05:52 [WARN] Provider "okta" produced an unexpected new value for okta_user_base_schema.schema_login, but we are tolerating it because it is using the legacy plugin SDK.
    The following problems may be the cause of any confusing errors from downstream operations:

[2019-10-04 00:29] quantumew commented on #294
@msmrnv1 sorry about that, my acceptance tests were passing but I am wondering if it was a false positive. I will report back shortly. Will get the min/max lengths added as well.

[2019-10-04 00:59] quantumew commented on #294
Looks like this property might be read-only, the API is ignoring it and I see no documentation for it. Going to ask Okta about it. Also, due to the way I constructed my test I got a false positive. Going to remove that prop for now and get min/max length added.

[2019-10-04 01:07] quantumew commented on #294
Ignore my previous comment, looks like pattern, max_length, and min_length are all being ignored by the API. Going to work with Okta on this. Reverting my previous PR for now.

[2019-10-04 14:01] msmrnv1 opened #297 "Add a new claim to default auth server"
I would like to add a new claim to the default authorization server. It looks like I can do only if I know the id of the authorization server. It is fine if I create a new one, but is it possible to add a new claim to the existing authorization server via terraform?

[2019-10-05 01:02] quantumew commented on #297
@msmrnv1 you can grab the auth server id using the `okta_auth_server` data source. It would look like this

[code]

[2019-10-08 01:06] quantumew commented on #297
@msmrnv1 Going to close this. Please reopen if you have any issues with this. Thanks!

[2019-10-08 01:06] #297 closed

[2019-10-11 12:53] ryber commented on #182
Hi, we are also seeing lots of rate limit alerts on various endpoints. We are managing our entire orgs configuration in a single GitHub repo (because we don't want to distribute keys to lots of teams).

One concerning thing is that I can see alerts on things like /api/v1/{id}/users for applications that are only client_credentials apps and so would never have users to begin with.

[2019-10-11 13:03] quantumew commented on #182
Yea the app resources need a bit of work, that is related to #248. At the advent of this provider we naively nested some resources such as app users. We are planning on deprecating those methods of adding users to app and only supporting the separate resource, for example `okta_app_user`. This will cut down on these extraneous calls.

Right now the resources will always attempt to retrieve and syn

[2019-10-11 16:55] msmrnv1 commented on #246
Is this enhancement planned soon?

[2019-10-11 18:23] quantumew commented on #246
I unfortunately have not had time to make contributions here so I am not sure. Also, I will be decreasing my contributions to this project and will let Okta take it over. Contributions are definitely welcome!

[2019-10-14 13:27] alhan-dfds opened #299 "Authorization Server Errors"
Hey,
I am trying to create a module, where I send a list of apps to create, which creates a app and authserver, this code

module clients {
  source     = "./terraform_modules/selfservice_clients"
  clients = [{
    name  = "selfservice_client_1"
    scopes   = ["selfservice_client_1.read", "selfservice_client_1.write"]
  }
  ,
  {
    name  = "selfservice_client_2"
    scopes   = ["selfservice_cl

[2019-10-14 13:34] alhan-dfds commented on #299
I can see that the "Last rotation" hasnt been set on the second auth server
![image](https://user-images.githubusercontent.com/50141679/66755370-22ee6800-ee98-11e9-9311-4b3ef93a058a.png)

[2019-10-14 14:06] alhan-dfds commented on #299
I can also reproduce the same error, with this code

resource okta_app_oauth selfservice_app_auth {
    count = length(var.clients)
    label = var.clients[count.index].name
    type  = "service"
    redirect_uris= []
    response_types= [
      "token"
    ]
    grant_types= [
      "client_credentials"
    ]
    token_endpoint_auth_method= "client_secret_basic"
}

resource okta_auth_server selfs

[2019-10-14 14:25] alhan-dfds commented on #299
Defintly a timing bug, cause this code works
resource okta_auth_server selfservice_auth_server_1 {
   provisioner "local-exec" {
    command = "sleep 40"
  }
  name        = "selfservice_client_1"
  audiences   = ["api://selfservice_client_1"]

  }
resource okta_auth_server selfservice_auth_server_2 {
  name        = "selfservice_client_2"
  audiences   = ["api://selfservice_client_2"]
    depends

[2019-10-14 15:12] quantumew commented on #299
On certain endpoints Okta responds to POST requests with a 200, which really just denotes that they have queued your creation request, and it will subsequently actually create the resource. Often if you attempt to create another resource that depends on this resource, it will fail with some bizarre errors. There is really not much the provider can do about this. Okta responds with errors that aren

[2019-10-14 16:51] cgriggs01 commented on #269
This is great! Just a few more items then we can move forward to release.

- [ ] The CHANGELOG formatting will have to be updated to conform to the standard provider format since the changeling is updated by a bot during the release it must be in a certain format. With the [AWS provider changelog](https://github.com/terraform-providers/terraform-provider-aws/blob/master/CHANGELOG.md) as an example

[2019-10-14 16:54] quantumew commented on #269
Good catch on those broken links, just a couple flubs on my part. I will get these wrapped up this evening. Thanks again!

[2019-10-15 00:10] quantumew commented on #269
Pushed up all of the requested fixes and changes. Opened a PR with import path update #300.

[2019-10-15 06:56] alhan-dfds commented on #299
Well I think you need the provider more robust, for these things, otherwise it is kinda hard to use in large scale, where you have to provision lots of entities in to Okta.
As I consumer of the provider, I am in an even worse place, since I cant really do anything about this. Since it is the provider that cast an exception.
But keep me updated with the responds from Okta, please.

[2019-10-15 07:46] alhan-dfds commented on #299
How you sleep between each creation of a resource.
Cause this still fail, with same error:

resource okta_auth_server selfservice_auth_server {
   provisioner "local-exec" {
     command = "sleep 30"
   }
  count = 2
  name        = "selfservice_auth_server_${count.index}"
  audiences   = ["api://selfservice_auth_server_${count.index}"]
}

[2019-10-15 10:20] quantumew commented on #299
To be clear, the panic is unrelated that is likely a bug which can be prevented once I look into it. The Okta API not actually creating resources in real time with some resources  causing a gap where you can associate the resource is a bit harder to solve right and not a terribly common scenario thus it hasn’t been thoroughly dug into yet. The way to solve it in the current state is to hit Okta’s

[2019-10-15 10:20] quantumew commented on #299
Going to look into this today

[2019-10-15 10:22] alhan-dfds commented on #299
Awesome=) I appreciate it. Maybe you can put in a property, if you want to have the slower provision, but will make sure that the resource exist?

[2019-10-15 14:08] quantumew commented on #299
Ok weird, this had nothing to do with eventual consistency, although the symptoms look just like it. Fix on its way. Why the sleep work is still puzzling to me. That may have been a fluke. Once I get the PR merged I will have you try the new version and report back. I added test with your exact config and it worked for me.

[2019-10-15 15:11] #287 closed

[2019-10-15 21:13] cgriggs01 commented on #269
Hey @quantumew,

Thanks for doing that, but there are still a

[2019-10-15 21:13] #269 closed

[2019-10-16 06:30] jralmaraz opened #302 "Error: Provider produced inconsistent result after apply"
When applying a series of okta_app_user_schema resources I encountered the following issue:

Tried to check the actual behaviour and only extra thing (apart from the huge DEBUG logs below) was that on each and every apply it was able to create 2 resources, then would fail.

Thanks.

Jose

[2019-10-16 07:30] alhan-dfds commented on #299
Let me know when to test, cause I just reproduced it 10 times on this.

resource okta_auth_server selfservice_auth_server {
   provisioner "local-exec" {
     command = "sleep 30"
   }
  count = 2
  name        = "selfservice_auth_server_${count.index}"
  audiences   = ["api://selfservice_auth_server_${count.index}"]
}

[2019-10-16 07:32] NeenuAVarghese commented on #287
Awesome !! Thank you 😊

[2019-10-16 11:42] quantumew commented on #299
You just need to pull down the latest release or rebuild the provider to test this. Please confirm the version of the provider you are running.

[2019-10-16 11:45] quantumew commented on #302
It sounds like you may be running into #144. Okta’s API will overwrite concurrent changes to the schema API. To avoid this while creating multiple schema items you can add a depends_on clause to one of them and have it reference the other one. This will ensure they are not concurrently created.

[2019-10-16 11:46] alhan-dfds commented on #299
Could you guide me through this?=) I am still a little new to terraform...

[2019-10-16 11:50] alhan-dfds commented on #299
Terraform v0.12.10
+ provider.aws v2.31.0
+ provider.okta v3.0.28

[2019-10-16 11:52] quantumew commented on #299
Sure, you want v3.0.29 with the bug fix. You can go to the releases for this repo, find the latest release, and download the binary for you OS architecture. Once you have that you will want to delete the old provider binary and move the new on into its place. See the link below for where Terraform wants you to put your provider binaries.

https://www.terraform.io/docs/plugins/basics.html

[2019-10-16 12:54] alhan-dfds commented on #299
It is working now, when I am doing it directly from Windows. Struggling with the docker-compose upgrade...will get back to you when I get that working

[2019-10-16 13:04] alhan-dfds commented on #299
It is working now, both from windows and from docker-compose setup. So thanks for the quick fix...

[2019-10-16 13:07] quantumew commented on #299
Awesome! Once the provider is official you won’t have to manually download it like that again. Terraform will pull it from the registry. Sorry for the earlier confusion, glad I could help.

[2019-10-16 23:08] jralmaraz commented on #302
Sounds good @quantumew , thanks for the update. I mainly opened this issue as I got "scared" with the error message. Cheers!

[2019-10-16 23:08] #302 closed

[2019-10-17 00:00] quantumew commented on #302
Of course, no worries @jralmaraz. Did the `depends_on` clause fix it? I took a cursory look at it so I just want to make sure I understood the issue correctly.

[2019-10-17 13:27] quantumew commented on #276
Hey @Govvy, this is the one I have always used https://github.com/kvz/json2hcl

[2019-10-17 13:28] quantumew commented on #276
Also here some discussion on the matter https://github.com/hashicorp/hcl/issues/294

[2019-10-18 03:48] jralmaraz opened #303 "User profile mapping"
**Is your feature request related to a problem? Please describe.**
Not an specific problem, but, the main need is to be able to automate the definition and setup of profile mappings at a user schema level

**Describe the solution you'd like**
We should be able to declare an expression between an Okta and an app user's to perform specific updates. Example:

{
"properties": {
        "managerId": {

[2019-10-18 03:49] jralmaraz commented on #303
DRAFT/Skeleton for adding mappings to SDK:

package sdk

[code]

[2019-10-18 03:53] quantumew commented on #303
Thanks for this @jralmaraz I believe this functionality would be covered under #246, basically profile mappings. Is there more to it then that? Also awesome work with the SDK skeleton feel free to open a PR

[2019-10-18 03:54] quantumew commented on #246
This is something that has been asked for a lot. Going to make time this weekend to get it in. Should be an easy enough one anyways.

[2019-10-18 03:58] jralmaraz commented on #303
Hi there! There was a quick response, I was trying to wrap this up before going for the weekend here.

I ended-up raising a new one thinking that #246 was mainly focused on social IDP, but you're right, it is basically profile mappings only :)

[2019-10-18 03:59] jralmaraz commented on #303
Also, I haven't make progress on defining the actual resource (something like resource_okta_user_profile_mapping.go), but happy to put some time on it if I start having a better view on doing it properly 👍

[2019-10-18 04:08] quantumew commented on #303
Cool much appreciated @jralmaraz. I don't want to steal your thunder if you already have the work started, I can step away and just be here to help you out. Let me know if you want to pair on anything outside of my working hours, generally 8-4 CST. I will rename that other issue, you are right, that title makes it confusing.

[2019-10-18 04:27] jralmaraz commented on #303
Perfect @quantumew, I have raised PR #304 .

Amazing, 5 to 7PM CST is 9 to 11AM AEST/Melbourne. It would be amazing to pair-up and get a better understanding on how o properly perform pointers' reference/dereference , etc. Also, if you would like to cover anything around https://github.com/quantumew/terraforming-okta during that too, it would be great (will reach out via e-mail for more details, h

[2019-10-18 08:53] alhan-dfds commented on #299
Hey man,
I am actually running in issues, where the second auth server isnt created correct. It is missing "Last rotation"

![image](https://user-images.githubusercontent.com/50141679/67080434-8678de00-f195-11e9-91bc-03d19becf96e.png)

[2019-10-18 09:10] alhan-dfds commented on #299
I had to add timer for 3 min to make sure it was ready and created correct

provisioner "local-exec" {
    command = "sleep 200"
  }

[2019-10-18 10:57] alhan-dfds commented on #299
Now it is failing after waiting for 500 seconds before doing other stuff to the auth server.

[2019-10-18 11:00] alhan-dfds commented on #299
It fails like this

Error: The API returned an error: Internal Server Error

  on terraform_modules/selfservice_clients/main.tf line 64, in resource "okta_auth_server_scope" "selfservice_auth_server_scope":
  64: resource okta_auth_server_scope selfservice_auth_server_scope {

[2019-10-18 12:28] quantumew commented on #299
Hey  @alhan-dfds, Can you send me the exact config to repro? Would this config repro it? https://github.com/articulate/terraform-provider-okta/blob/master/examples/okta_auth_server/dependency.tf

 I am guessing it is an intermittent issue oddly enough and the sleep is just a red herring. I am going to reopen this for now. Also, just as an aside, I was only hitting this error before I fixed that bu

[2019-10-18 12:29] quantumew commented on #303
Sounds good! Going to close this for now, we can use the existing issue to track the mappings work.

[2019-10-18 12:29] #303 closed

[2019-10-18 18:43] quantumew opened #305 "Missing Validators"
I have noticed a few resources have fields that are restricted in length, for instance, `okta_auth_server` `name` attribute, but we don't validate them. This results in errors when applying from Okta's API. We should vet all of our resources and be sure we have all of the simple validators in place.

[2019-10-18 20:28] quantumew opened #306 "Why are policy names ForceNew?"
I don't see a reason for policy name attributes to be `ForceNew`. I think this is a remnant of the original iteration of this resource that can be removed.

[2019-10-21 02:32] jeremie0 commented on #212
This was implemented in terraform-provider-okta 3.0.25

[2019-10-21 02:32] #212 closed

[2019-10-21 05:25] alhan-dfds commented on #299
Yes I can confirm I am on v3.0.29.
+ provider.aws v2.32.0
+ provider.null v2.1.2
+ provider.okta v3.0.29

It fixed it when creatíng multiple auth server. The problem occurs when I do other stuff on the newly created auth server just after...
As you in attached file, I create 2 app, 2 auth servers, and add a policies and scopes.
1/3 times the script works, but the other times it fails with the "The

[2019-10-21 12:29] quantumew commented on #299
@alhan-dfds perfect I will replicate this in a test and get back to you. Thanks!

[2019-10-21 23:29] lamjo opened #307 "Import error - Error: rpc error: code = Unavailable desc = transport is closing"
Running into an error when importing an app.

[code]

[2019-10-22 14:04] quantumew commented on #307
This looks like it is a Terraform Core issue, https://github.com/hashicorp/terraform/issues/22349. Looks like I need to update to the new SDK.

[2019-10-22 15:03] quantumew commented on #307
![Screen Shot 2019-10-22 at 10 03 06 AM](https://user-images.githubusercontent.com/14934291/67300167-2cd52400-f4b3-11e9-86ab-6eec7c8d718f.png)

[2019-10-22 18:46] msmrnv1 opened #309 "New Resource: App Sign On Policy"
I can't find a resource to specify the signon policy for the app. Is there such a resource?

[2019-10-22 18:56] quantumew commented on #309
You can use `okta_policy_signon` and `okta_policy_rule_signon` for Sign On policies, although I am not sure I 100% follow what you mean by app? Makes me think you have a use case I haven't run into.

https://github.com/articulate/terraform-provider-okta/tree/master/examples/okta_policy_signon
https://github.com/articulate/terraform-provider-okta/tree/master/examples/okta_policy_rule_signon

[2019-10-22 19:07] msmrnv1 commented on #309
it is under the application in Sign on Tab

![image](https://user-images.githubusercontent.com/53347685/67321460-87837580-f4dd-11e9-834a-af6148f56ccd.png)

![image](https://user-images.githubusercontent.com/53347685/67321527-99fdaf00-f4dd-11e9-8b44-b449462b745f.png)

[2019-10-22 19:16] quantumew commented on #309
Right, I forgot about this feature. There is no resource for it, thanks for reporting. We will need to ensure there is an API for it but we can likely reuse a lot of the signon policy stuff we have. Probably similar to the app_user_schema and user_schema relationship.

[2019-10-23 09:10] alhan-dfds commented on #299
Hey=) can you reproduce it?

[2019-10-23 12:18] quantumew commented on #299
@alhan-dfds trying now

[2019-10-23 12:46] quantumew commented on #299
@alhan-dfds I boiled down your test to the basic elements (without the sleep) and was able to run it 10 times without issue (with test cache off of course). See the commit above and let me know if you see I am missing anything. I have a few questions below for you. Please note your can run this with debug logs `TF_LOG=debug` to dump all of the request/responses. If you post them here please redact

[2019-10-23 13:18] alhan-dfds commented on #299
I just ran it in docker-compose and on windows. And everything is working now everytime without a sleep. I did this 20 times last week, failing everytime=( but looks like it is fixed now. Hope they fixed something and not a sporadic error...

[2019-10-23 13:21] quantumew commented on #299
Cool going to close this. This is likely an Okta API bug. If it comes up again let's extract the request id and report it to Okta. Thanks!

[2019-10-23 13:21] #299 closed

[2019-10-23 13:34] alhan-dfds commented on #299
Yes, I will track the error next time. If it occurs.

[2019-10-23 20:13] msmrnv1 commented on #309
oh, I see.. thanks for an update. It's a definitely a needed resource.

[2019-10-28 21:39] wiciu125 opened #310 "Missing parameter 'Login initiated by'"
When configuring OAUTH in terraform there is no option to define `Login initiated by` parameter.
After successfully creating application the default option for it is "App only".
As a result, when trying to open page by clicking on application in okta an error 404 appears.
To  change it to "Either Okta or App" manual action is required from the okta admin page.

The below configuration is for our G

[2019-10-28 21:43] quantumew commented on #310
Thanks for reporting, likely a missing attribute, let me get that added.

[2019-10-28 21:51] quantumew commented on #310
Arghhhh so frustrating. This is not exposed via the public app api. Rather it is exposed on `/api/v1/internal/apps/<appId>/settings/oidc`. Opening a feature request with Okta.

[2019-10-28 21:58] wiciu125 commented on #310
Thank you start working on that. Waiting for any update.

[2019-10-29 17:51] quantumew commented on #307
Need to look into why I cannot repro this. Now that I see the full stack trace in #311, this had nothing to do with the sdk. Thanks again to @fllaca for following this up.

[2019-10-30 10:32] fllaca commented on #307
thanks @quantumew ! the small fix of my PR (#311) was detected because it happened to me when updating a okta_app_group_assignment. It only happened in the UPDATE operation, so CREATE (first `terraform apply`)  and READ (`terraform plan`) were working ok. You can reproduce the issue by creating a resource of that type, do `terraform apply`, then update the resource (change the group_id for instanc

[2019-10-31 03:16] lamjo commented on #307
Update: same error with v3.0.31

[2019-10-31 03:18] quantumew commented on #307
Gotcha, let me get those reproducing tests written as intended and get a correction out. Will have time in the morning to get a fix out. Thanks for the report!

[2019-10-31 14:13] quantumew commented on #307
@lamjo Can you send me your config and maybe the full stack trace? I still can't repro this after adding another step in the test to ensure it runs an update. I must be missing something else. I can repro it before the fix in 3.0.31 so I am wondering if something else is going on for you. Thanks!

[2019-10-31 14:17] quantumew opened #313 "User resource errors on 404"
Exist function should check for a 404 and return without an error.

[2019-10-31 14:48] quantumew commented on #307
Dug into this and realized due to the way Okta's API exposes endpoints for app users/groups I had to add some special import logic for those resources. Running tests now, look for release v3.0.32 very soon.

[2019-11-04 00:42] quantumew opened #316 "Okta API Issues"
Suddenly our tests are failing and it is for a reason out of our control. I can watch an App get created, return a 200 on the first read, then start 404ing on all subsequent calls, then when I go to debug suddenly the app starts 200ing again. I would guess this is a cache issue on Okta end.

https://support.okta.com/help/s/case/5001Y00001K9bnEQAR

[2019-11-04 01:05] quantumew commented on #316
Debug logs showing POST works, GET on app and app groups is OK but app user listing endpoint 404. I will get a 404 on this endpoint for over a second after getting a 200 on other endpoints. Seems to definitely be a caching bug on Okta's API.

[code]

[2019-11-04 05:44] jralmaraz commented on #302
It did resolve, sorry about the delay.

[2019-11-04 19:13] jpf commented on #316
Hey @quantumew - I'm seeing this issue too and am actively looking into it.

[2019-11-04 19:23] quantumew commented on #316
@jpf awesome, really appreciate that! Let me know what you find and if it will require any changes on my end to work around it.

[2019-11-04 20:32] jeremie0 commented on #316
I'm seeing this too.  sometimes it works to delete the newly created app from the UI and then re-create via terraform but that is not consistent.

[2019-11-04 20:56] jpf commented on #316
Hey @quantumew - I'm able to see errors in the logs, but I'm having trouble replicating the error "by hand" - here's what I'm running:

[code]

[2019-11-04 21:10] quantumew commented on #316
That is exactly what I used to repro this issue yesterday, it was a toss up whether it would work or not even with a 5 second sleep. Today I am seeing it less. If you remove the sleep and run it a few times it will happen for you. I added the sleep in yesterday to demonstrate that even with a long sleep it would still happen.

[2019-11-08 12:10] ivan-sukhomlyn opened #317 "Error verifying checksum for provider "okta" during Terraform init"
## Expected Behavior

Terraform Registry contains an actual checksum of sources
`terraform init` command doesn't fail

## Actual Behavior
[code]

[code]

## Additional info
Terraform version:
`Terraform v0.12.12`

Could you please verify an actual provider state in the registry?

[2019-11-08 12:50] quantumew commented on #317
Are you using the provider here? Or letting terraform pull one down? This repo is becoming an official provider but the process was halted by Okta. I believe the initial release is still sitting in the registry and I have no clue if it is setup properly or not. You can find a prebuilt binary in the releases tab of this repo.

[2019-11-08 13:04] ivan-sukhomlyn commented on #317
@quantumew
I defined the **okta** provider in the Terraform configuration. In this case, Terraform can't download and validate provider configuration properly.
Yes, I've fixed this with downloaded binary from the releases page and pre-installed it to the plugin  directory by path `~/.terradorm.d/plugins`
Thanks for your reply

[2019-11-08 13:13] quantumew commented on #317
I will talk to Hashicorp and see if they can pull that binary down until Okta OKs it.

[2019-11-08 14:19] alkar commented on #317
@quantumew thanks for the update on this!
Can we reopen this issue so that we can track updates on the matter?

[2019-11-08 14:22] quantumew commented on #317
@alkar Good point, agree this should stay open.

[2019-11-09 15:08] quantumew commented on #316
Received an update on my case, `Since we have reported this issue to Engineering,  the initial investigation revealed a replication issue on our database that caused a delay for the preview cell (OP1) with data replication across the database.`. Some initial testing is showing an improvement. Although I did see this error once in the wild after receiving this update so I will run the acceptance te

[2019-11-11 01:53] #313 closed

[2019-11-11 01:53] #307 closed

[2019-11-11 04:24] shantanugadgil commented on #178
Any luck with? I would have definitely submitted a PR had I been more of a gopher! 🐿️😇

[2019-11-11 04:39] quantumew commented on #178
@shantanugadgil totally forgot about this one. I will plan on doing it after I wrap up mappings resource. My time has been limited lately unfortunately. Feel free to take a crack at it, glad to give guidance!

[2019-11-11 05:42] mikn opened #318 "Allow for creation of other app types"
**Is your feature request related to a problem? Please describe.**
Whilst trying to provision a "Microsoft RDP (MFA)" type application, I find that there is no resource that describes an application that would support those settings.

**Describe the solution you'd like**
I would like to be able to provision app types outside of Bookmark/OAuth/SAML/Three-field/Secure Password and SWA.

**Additional

[2019-11-11 10:11] ivan-sukhomlyn opened #319 "Okta provider doesn't support okta_app_saml_metadata data source from official documentation"
## Expected Behavior

Okta Terraform provider doesn't fail and provides a method to get SAML app metadata as described in the official documentation by link https://www.terraform.io/docs/providers/okta/d/app_saml_metadata.html.

## Actual Behavior
Links to the relevant code, snippets

[code]

[code]
## Additional info
Versions:
[code]

Logs:
[code]

[2019-11-11 11:45] zoltanpeto commented on #246
+1, much needed. Any progress on this one?

[2019-11-11 13:27] quantumew commented on #246
Made some good progress then lost the time to wrap it up. Should be able to find a few hours this week to get a PR open. Apologies on the delay.

[2019-11-11 13:40] quantumew commented on #318
Totally agree. The app resources were essentially built around Okta's API docs, which leave out use cases such as these. A custom app resource would cover a lot of use cases, especially given that `app_settings` just expects JSON. We could potentially get rid of the `preconfigured_app=<catalog_app_name>` since most of the unique settings are under `app_settings`, at least iirc.

[2019-11-11 13:44] quantumew commented on #319
That appears to be a problem with the docs, here is a working example -> https://github.com/articulate/terraform-provider-okta/blob/master/examples/okta_app_metadata_saml/datasource.tf#L16-L19. It is actually `okta_app_metadata_saml`.  Leaving this open to correct the nomenclarture in the docs.

[2019-11-11 13:48] quantumew commented on #319
Although it looks like my docs were hinting at the fact that `okta_app_saml_metadata` is the correct naming pattern. Let me update the provider to support both and just output a deprecation warning for the incorrect one. Look for that in v3.0.33 shortly.

[2019-11-11 14:12] ivan-sukhomlyn commented on #319
Hi @quantumew
Thanks for your reply and clarification!
I've found another error with the documentation and have prepared the fix for these issues.
Please, look take a look at the PR by link https://github.com/terraform-providers/terraform-provider-okta/pull/5

[2019-11-11 14:16] mikn commented on #318
Okay, I'll see if I can put up a PR by tomorrow :+1:
Any thoughts on naming? I'll go for `okta_app_custom` until I hear other votes.

[2019-11-11 14:23] quantumew commented on #318
@mikn 🙇  +1 on the name from me. Although part of me wants to name it `okta_app`. It is a generic application resource. Although I think that might confuse people into using that when the more specific implementation is more suitable.

[2019-11-11 14:29] ivan-sukhomlyn commented on #319
@quantumew Ohh, I see that you have already updated the documentation for the `okta_app_metadata_saml`. I forked this repo and have created the PR with the fix for `okta_group` ds description.
https://github.com/articulate/terraform-provider-okta/pull/321

[2019-11-11 22:24] zoltanpeto opened #322 "App-Group assignments resetting"
## Expected Behavior

After creating an `okta_app_oauth` resource with an `okta_app_group_assignment` each `terraform apply` will actually want to remove that assignment since `okta_app_oauth` state does not contain this association. Not sure what the solution to this would be, apart from dropping the ability of managing groups via app resources and solely relying on `okta_app_group_assignment`.

[2019-11-11 23:26] quantumew commented on #322
Hey @zoltanpeto, this is a known limitation right now, very soon we will be deprecating the old nested way of adding users and groups and only supporting assignment resources. Please use lifecycle ignore when using group assignments or app users in the meantime, example here -> https://github.com/articulate/terraform-provider-okta/blob/master/examples/okta_app_group_assignment/basic.tf. Actually l

[2019-11-12 02:37] jralmaraz commented on #318
Great stuff @mikn , will keep an eye on this one (very useful use-case :) )

[2019-11-12 03:10] jralmaraz commented on #309
Quick investigation update:

- Raised a support ticket and at least so far found they are not supporting it via API :(

- Some other people already raised the feature requests:

1. https://okta.my.salesforce.com/087F0000000BGB5IAO

2. https://ideas.okta.com/app/#/case/111597

Had a quick inspect over the browser and some of the endpoints were:

Request URL: https://org-admin.oktapreview.com/admin/

[2019-11-12 05:31] jralmaraz opened #326 "App Condition for MFA Enrollment Policy"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
In an MFA policy we would be able to list which apps it applies for (or all).

**Describe alternatives you've considered**
Extend the schema in the following resource
https://github.com/articulate/terraform-provider-okta/blob/master/okta/resource_okta_policy_mfa.go to accept the option of li

[2019-11-12 09:19] zoltanpeto commented on #322
Hey @quantumew, thanks for clarifying - should've read the examples too.

Let me save you some time, I submitted a pr to add this to the docs :point_up:

[2019-11-12 16:11] jeremie0 opened #328 "Password policy - allow setting userLockoutNotificationChannels"
**Is your feature request related to a problem? Please describe.**
The Okta UI allows us to enable "Send lockout email to user".
In the API for password policies,  it looks like this is undocumented, but is set via:
[code]

can the terraform provider also let us set this?

**Describe the solution you'd like**
option for ```okta_policy_password```  to ```send_lockout_email = true```

[2019-11-13 03:50] mikn commented on #318
Right, I hit a snag with the implementation. It seems that the Okta API doesn't actually support creating a `Microsoft RDP (MFA)` application as of now as it seems that the UI flow creates another resource that isn't exposed through the API and links them up (I have an open ticket with Okta support to try to resolve it). I'm thus holding back on the code until I know that it at least would be usef

[2019-11-13 07:06] lamjo commented on #307
Update: same error with v3.0.32

[code]

[2019-11-13 08:33] jralmaraz commented on #328
The payload to {{url}}/api/v1/policies needs to go like this:

[code]

I wanted to use schema.TypeBool in the schema to allow the suggestion from @jeremie0 to something like "send_lockout_email = true". Due to my coding limitation, I didn't know the best approach to map string{"[\"EMAIL\"]"} to a boolean attribute, so I commited for revew with a schema.TypeString for now (also needed to add UserLo

[2019-11-13 14:34] #246 closed

[2019-11-13 17:10] quantumew commented on #307
@lamjo #311 was conflated with this issue because Terraform spit out the same error so I assumed you were importing a group assignment. There was a legitimate issue there which I resolved but it had nothing to do with what you were hitting. I see now with fresh eyes, you are importing a single oauth app. I cannot reproduce this with the OAuth app. Can you give me the debug logs with your API token

[2019-11-13 20:52] quantumew opened #330 "Old SDK not using pointers for zeroable values"
## Expected Behavior

Old SDK https://github.com/articulate/oktasdk-go/blob/master/okta/policies.go#L80-L104 is not properly using pointers for these zeroable properties. Without this whenever a policy is updated with settings such as `MaxAttempts = 0` it gets reset to the default. This is because the JSON encoding step omits the value and Okta's API assumes we want it changed back to the default.

[2019-11-14 01:23] williamtheaker commented on #248
This would be helpful when combined with `okta_group_roles` so we could use Terraform to define a list of superadmins with already existing users.

[2019-11-14 01:34] quantumew commented on #248
@williamtheaker can you elaborate? I have an idea of how this would work currently but I want to be sure I am on the same page. I am thinking you could use a user(s) data source to list users, push users to `okta_group` via the users attribute, then assign that group the appropriate role(s).

[2019-11-14 05:55] jralmaraz commented on #144
Hey, just checking if we did have any update on this or the only way going forward is by using the depends_on (which seems to working well for us, just slowing things down a little bit) ?

I thought of raising that with Okta, but better checking for the latest on it before :)

[2019-11-14 14:43] quantumew commented on #144
This is still just a feature request. Imo this is a bug in the API but they disagree. The solution currently is to turn off parallelism or add dependencies between these resources to avoid concurrency. I toyed with the idea of making a new resource but then you have to track the entire schema. I suppose I could add a “ignore_absent” option. Hmm that Might be an OK option. Worth looking into. It wo

[2019-11-14 16:28] #330 closed

[2019-11-14 17:27] steven-1114 opened #333 "Resource okta_auth_server_policy_rule generates error"
## Expected Behavior
When using the resource object "okta_auth_server_policy_rule" and running Terraform apply, the okta_auth_server_policy_rule should create the policy rule with the parameters specified and then report success.

## Actual Behavior
The policy rule is created correctly in Okta, but the resource reports failure with the message 'transport is closing'.  Hers is the ouput from the te

[2019-11-14 17:36] quantumew commented on #333
@steven-1114 is there any way you can run that again with `TF_LOG=debug`? Remember to redact your auth token! This error appears to be a pretty generic one that has mislead me in the past.

[2019-11-14 17:54] steven-1114 commented on #333
Actually, it looks like I had missed the parameter for group_whitelist.   It worked when I added the data provider to get the okta_group "Everyone" and then added the id to the group_whitelist.

The documentation is misleading because the example references group_whitelist, and the Arguments references section includes scope_whitelist.  I misunderstood that and thought that all I needed was the sc

[2019-11-14 18:11] quantumew commented on #333
@steven-1114  `scope_whitelist` and `group_whitelist` should both be in that arguments section. Thanks for calling that out, I will get the docs patched. I will also add a `Required: true` to any properties missing it here.

[2019-11-14 18:18] quantumew commented on #328
Hey @jralmaraz , thanks for taking a look at this! I am personally slightly more partial to this being a Set of strings rather than a boolean that does magic. That way when Okta adds new notification channels, it just works, theoretically. Although I could be persuaded, the boolean is definitely nice and easy.

With that said here is an example of a Set of strings https://github.com/articulate/ter

[2019-11-14 18:23] #333 closed

[2019-11-14 18:24] steven-1114 commented on #333
Thank you!

[2019-11-14 22:01] williamtheaker commented on #248
Ideally I could define Okta user data sources by Okta id, similar to how the [AWS provider handles IAM users](https://www.terraform.io/docs/providers/aws/d/iam_user.html).

I was thinking it would look like this:

[code]

[2019-11-14 22:09] quantumew opened #335 "okta_group_membership resource"
Part of achieving #248 is being able to tie a single user to a single group.

[2019-11-14 22:12] quantumew opened #336 "Retrieving user by id"
You can search for a user by id using:

[code]

Having a shortcut would be nice, it would require diff suppression when it is computed:

[code]

[2019-11-14 22:15] quantumew commented on #248
I guess I assumed if you had the id you wouldn't need to look it up. You would just refer to a `local` or `var`. Regardless, the below should work. Thanks for the reminder on the `okta_group_membership` resource. Hadn't opened a ticket for that yet.

[code]

Should be easy enough to make that possible though: #335 #336

[2019-11-15 08:44] #322 closed

[2019-11-15 11:54] eliezio opened #337 "Document how to set "key_id" to retrieve pre-existing okta_app_metadata_saml resource"
The example at https://github.com/articulate/terraform-provider-okta/blob/master/examples/okta_app_metadata_saml/datasource.tf shows how to retrieve the metadata of okta_app_metadata_saml created by TF, by reusing output variables 'id' and 'key_id' from this resource. But in case we want to retrieve the metadata of a pre-existing resource, it's not clear what to put on the 'key_id' attribute.

Bas

[2019-11-15 14:03] quantumew commented on #337
Interesting, Okta documents it as required but it is clearly not. I wonder if it is possible to have multiple "entities" on one app. Regardless there is a data source for retrieving your `kid`,  example below.

[code]

[2019-11-15 15:27] alkar opened #338 "okta_policy_rule_password has attributes from okta_policy_rule_signon"
## Expected Behavior
Given:
[code]
The plan should be (at least similar to):
[code]
## Actual Behavior
The plan actually is:
[code]

## Steps to Reproduce the Problem
As described above.

## Additional info
The problem seems to lie with `buildSchema` which ends up modifying `userExcludedSchema` when it's called in `buildRuleSchema`.

[2019-11-15 15:35] quantumew commented on #338
@alkar Yea we should definitely be doing a shallow copy there.

[2019-11-16 00:48] eliezio commented on #337
You nailed it! Thanks @quantumew

[2019-11-19 00:08] jralmaraz commented on #328
Hi @quantumew , sorry, I was offline for 4 days for a trip, will look at your suggestion and put the PR in place as soon as I can, cheers!

[2019-11-19 00:47] quantumew commented on #328
@jralmaraz no worries! Thanks for your contribution!!

[2019-11-19 01:02] williamtheaker commented on #248
Ah right, using locals didn't cross my mind. For sake of concision, `okta_group_membership` resources should probably accept a list for assigned users:

[code]

[2019-11-19 01:30] quantumew commented on #248
Hey @williamtheaker, `okta_group_membership` will always be a one to one but there is potential for another attachment resource there, I suppose but for now just iterate over your list (syntax is off the top of the old noggin so please validate 😄):

[code]

[2019-11-19 01:31] jk-carroll opened #340 "Set target_id for profile mapping"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I have several use cases where I need to specify the target_id for profile mapping, specifically I need to be able to map attributes from the org to an application which requires setting the target_id as the application id.

**Describe alternatives you've considered**
Extend the schema in th

[2019-11-19 01:45] quantumew commented on #340
@jk-carroll Thanks for opening this, should have something whipped up soon. Definitely should have implemented that off the bat!

[2019-11-19 03:35] #340 closed

[2019-11-19 03:54] jralmaraz commented on #328
@quantumew as I know there's some work going on to improve/change the SDK's extension, let me know if the PR I added for the Lockout is OK or if that should be changed. Thanks!

[2019-11-19 04:53] jralmaraz opened #343 "Getting the default Okta's user schema ID"
Hi,

For profile mappings one common use case is to refer the source of the mapping as the Okta's default user schema.

At the moment we are manually retrieving the ID from here:

{{url}}/api/v1/user/types/default?expand=schema

Is there a way we would be able to fetch that ID to later on refer as a variable ?

Let me know if the issue is not clear, just trying to figure a better way out (at the m

[2019-11-19 13:09] quantumew commented on #343
Hey @jralmaraz,

I just added the `okta_user_profile_mapping_source`, which I think is what you are referring to. Here is a simple example using a Google IdP.

[code]

[2019-11-19 13:20] #338 closed

[2019-11-19 15:30] flyinbutrs commented on #317
Apologies, newbie here...  how can I work around this until Hashicorp updates their repo?

[2019-11-19 15:34] quantumew commented on #317
@flyinbutrs No worries, you will want to grab the appropriate binary from the Github Releases, or build your own using the README instructions, then drop it in your `~/.terraform.d/plugins` directory.

https://www.terraform.io/docs/configuration/providers.html#third-party-plugins
Optional, if you want to build it yourself: https://github.com/articulate/terraform-provider-okta#building-the-provider

[2019-11-19 15:35] flyinbutrs commented on #317
Ha, I had figured it out and was just typing out an edit apologizing for the stupid question :).

Thanks!

[2019-11-19 19:09] lamjo commented on #307
@quantumew - thanks for continuing to help with this. Here are the debug logs..

https://gist.github.com/lamjo/46e90bfd8784fab0c972e37e5b59ed59

[2019-11-19 19:20] quantumew commented on #307
NP, OK that was the ticket. It is panicking on this line https://github.com/articulate/terraform-provider-okta/blob/master/okta/app.go#L201. It should be checking if the response is nil before attempting to do anything with it. Once that is fixed you will get an actual error back that will tell you why it is failing to make the request. Should have time to fix it over lunch today.

[2019-11-19 20:22] quantumew commented on #307
@lamjo Pushed up v3.0.36. Try again and report back. The error should no longer get swallowed.

[2019-11-19 23:07] lamjo commented on #307
Now seeing the following error:
[code]

But why is Host "."?
[code]

[2019-11-19 23:08] quantumew commented on #307
@lamjo Perfect. What does your provider config look like?

[2019-11-19 23:58] quantumew opened #345 "Not syncing index in UserSchema read"
We are not syncing the `index` property in the UserSchema read functions. This leads to a ForceNew due to the index changing, for example:

[code]

[2019-11-20 00:17] lamjo commented on #307
@quantumew - Here's my provider config:
[code]
The okta_url is something like "my-org.oktapreview.com". I have no problem with creating Okta apps.

[2019-11-20 00:34] quantumew commented on #307
@lamjo Gotcha, those values must not be getting set. IIRC the SDK simply joins them on `.`. Interestingly enough our provider is accepting empty strings. Will have to set a min length on those to avoid this situation.

[2019-11-20 03:17] jralmaraz commented on #343
Thanks @quantumew ! That worked really well. @jk-carroll helped me testing that too :D

[2019-11-20 03:17] #343 closed

[2019-11-20 04:23] the-maldridge opened #347 "okta_app_secure_password_store does not satisfy okta API schema"
## Expected Behavior
I expect to be able to manage resources of type okta_app_secure_password_store.

## Actual Behavior

[code]
## Steps to Reproduce the Problem
Attempt to manage an app of this type.

[2019-11-20 14:55] #345 closed

[2019-11-21 00:09] quantumew commented on #347
@the-maldridge Can you share your config with me? I can see that Okta's SDK is missing this property on this app type (link below). I'd like to add a test to our acceptance tests for this scenario.

https://github.com/okta/okta-sdk-golang/blob/master/okta/securePasswordStoreApplicationSettings.go#L24-L27

[2019-11-21 13:06] jimmy-dg opened #349 "Unable to retrieve policy of type OAUTH_AUTHORIZATION_POLICY using okta_policy datasource"
## Expected Behavior
The following data source should return the default OAuth policy

[code]

[code]

## Actual Behavior
The following errors are returned when applying terraform

## Steps to Reproduce the Problem

Environment:
- MacOS 10.15.1
- Docker 2.1.0.3
- terraform-provider-okta 3.0.28

1. Create tf file containing the above data source
2. Run `terraform apply`

[2019-11-21 20:54] the-maldridge commented on #347
Sure, here's an example app from my terraform project:

[code]

I think this is what you were asking for, but if you need more don't hesitate to ask.

[2019-11-21 22:14] quantumew commented on #349
Interesting, appears that Okta doesn't allow you to get OAuth policies that way. I ran into this and failed to open a ticket a while back. We will have to create a specific data source for it or at least awareness in this resource to hit the right endpoint.

[2019-11-21 22:35] quantumew commented on #347
@the-maldridge Thanks! Opened a PR with this test case but it works in my tenant. I also checked their docs, there is no mention of the `signOn` object on the secure password store app. There is some undocumented behavior happening here that is not happening in my tenant. We may have to chat with Okta on this one.

[2019-11-21 23:24] the-maldridge commented on #347
That's spooky, but I wouldn't be surprised if Okta has some kind of undocumented breaking change in a public API.  I can provide a terraform debug trace if that would help, but I'd rather not post that to github.

[2019-11-21 23:29] quantumew commented on #347
@the-maldridge I see it occasionally with features that are flipped on for you but not for our test tenant. Apropos the debut log, understandable, a lot to redact in this case. Regardless I don’t think it would help much.

The one thing that would help is if you created one of these apps in your tenant via the API and posted the body it returns. Based on that we might be able to make some inferenc

[2019-11-21 23:30] the-maldridge commented on #347
Sure, I can do that and report back.  Do you want it created purely with the API, i.e. I write a shim in Go to drive it, or do you want me to create a new app with terraform and try that?

[2019-11-21 23:34] quantumew commented on #347
@the-maldridge honestly I was thinking of just throwing it in postman/curl and getting it created. Give it an empty signOn object to see if it gives you more details about what settings are missing. See if we can gather what it needs. Worth a try we can open a ticket if we cannot gather any more info.

[2019-11-22 09:48] kevin-chiu-dragon opened #355 "Missing attribute to create group claims for Okta-Mastered groups"
According to [Create a Groups Claim for Okta-Mastered Groups](https://developer.okta.com/docs/guides/create-token-with-groups-claim/create-groups-claim/#create-a-groups-claim-for-okta-mastered-groups), ones should be able to create a groups claim on an OIDC client application.

The corresponding config is not in [okta_app_oauth](https://www.terraform.io/docs/providers/okta/r/app_oauth.html), and
s

[2019-11-25 01:01] jralmaraz commented on #355
Hi @kevin-chiu-dragon, can you try something similar as the below resource ? Is that something similar to what you are looking for ?

resource "okta_auth_server_claim" "Views" {
  auth_server_id    = "${okta_auth_server.Member_Portal.id}"
  name              = "Experience"
  status            = "ACTIVE"
  claim_type        = "RESOURCE"
  value_type        = "GROUPS"
  group_filter_type = "REGEX"

[2019-11-25 02:30] kevin-chiu-dragon commented on #355
Hi @jralmaraz , thanks for the suggestion, yes we've tried the above with dev okta account and it works. But since it needs additional licensing and the OIDC client application groups claims can serve our needs, so we are trying to use the later.

[2019-11-25 04:22] jralmaraz commented on #355
Nice, thanks for confirming that @kevin-chiu-dragon.

I could see any that profile is available in the resource: https://github.com/articulate/terraform-provider-okta/blob/master/okta/resource_okta_app_oauth.go

			"profile": &schema.Schema{
				Type:        schema.TypeString,
				StateFunc:   normalizeDataJSON,
				Optional:    true,
				Description: "Custom JSON that represents an OAuth applicat

[2019-11-25 04:44] jralmaraz commented on #355
https://github.com/articulate/terraform-provider-okta/commit/d6ef132faf7a31bc56e9e58e1c8ef12d444727b0#diff-2bf37877a9890a57960ab5fb1558261a

https://github.com/articulate/terraform-provider-okta/blob/master/examples/okta_app_oauth/group_for_groups_claim.tf

Had a look at the above I tried the following resource (also changed the ID for an existing group name, :

[code]

Also tried the following wi

[2019-11-25 04:53] jralmaraz commented on #355
The profile details are though correctly set and returned when doing a GET apps:

{{url}}/api/v1/apps/0oa1xo30chxtUVbQ4357

![image](https://user-images.githubusercontent.com/13877691/69513338-9ad1a700-0f9b-11ea-9c59-d864090c317d.png)

[2019-11-25 04:53] jralmaraz commented on #355
Can you test retrieving the actual token flows to see if the group will be seen ?

[2019-11-25 05:42] kevin-chiu-dragon commented on #355
Yes, it's the OpenID Connect ID Token setting. While instead of group whitelist, we need to create a groups claim:

![image](https://user-images.githubusercontent.com/53592724/69515319-2c83e900-0f89-11ea-90f3-76e02a0dc727.png)

[2019-11-25 15:25] alkar opened #356 "Imported okta_group always ignores users"
Using v3.0.38.

Given the following configuration:

[code]

If applied and the group is managed via terraform, it looks like changes produces the expected plans, even when users are manually added outside of terraform.

However, if I _import_ this resource, instead of creating it with terraform (and the user is manually added in it):

- without any `users` defined in config, the plan is empty (exp

[2019-11-25 22:15] evanger24 opened #357 "The option to set an auth server policy rule user to "any user assigned the app""
When using the okta_auth_server_policy_rule resource, I want to be able to set my user to any user assigned to the app instead of having to create an okta_group and set the user to "assigned the app and a member of one of the following": <okta_group>.

Based on the example given the group_whitelist value in the resource "okta_auth_server_policy_rule" is set to a data source named "data group".  Ho

[2019-11-26 00:18] jralmaraz commented on #355
@quantumew do you think this call is only internal and we might need to reach to Okta ?

Let me know what would be the next step, happy to chase.

Cheers.

Request Method: POST

Request URL: https://instance.okta.com/api/v1/internal/apps/0oa6o6isarIXUX8hQ3l5/settings/oauth/idToken?issuerHint=true

{"valueType":"GROUPS","groupFilterType":"STARTS_WITH","instanceId":"0oa6o6isarIXUX8hQ3l5","issuer":"h

[2019-11-26 00:34] jralmaraz commented on #357
Myself and @jk-carroll had the same doubt the other day.

If you inspect the browser's response while listing the policies/rules, the option for "Any user assigned the app" Returns the following condition:

`"conditions":{"people":{"users":{"include":[],"exclude":[]},"groups":{"include":["EVERYONE"]...`

So if you try the following, it should do the trick:

`group_whitelist      = ["EVERYONE"]`

L

[2019-11-26 03:49] jralmaraz commented on #355
This was the response I got from Support, so, it cannot be done through the public API yet :(

At the moment, we do not provide an option to configure the groups claim for OIDC applications through the public API either in the creation process or after it. The administrative panel interface uses an internal API to submit the changes.

You can find below a few examples on how to configure the group

[2019-11-26 04:52] jralmaraz opened #358 "New resource for user types"
**Is your feature request related to a problem? Please describe.**
User types enables enhanced user segmentation within a single organization. Each type of user can have fully customizable user schema, application assignments, and application mappings.

**Describe the solution you'd like**
A new resource to define new user types.

**Describe alternatives you've considered**
At the moment this is b

[2019-11-26 05:12] jralmaraz commented on #358
Wondering if it would be better to extend the current SDK and API supplement/extension.

[2019-11-26 05:40] kevin-chiu-dragon commented on #355
@jralmaraz thanks for the investigation and update! Looks like we need to stick with manual steps for the time being.

[2019-11-26 06:20] evanger24 commented on #357
Works like a charm! Thanks for the explanation & work around!

[2019-11-26 06:20] #357 closed

[2019-11-26 06:34] jralmaraz commented on #355
No problem, I have also raised a feature request for this so we can at least chase and follow it up:

https://ideas.okta.com/app/#/case/113869

[2019-11-26 20:58] rtlong commented on #15
@quantumew Was this effort abandoned? I just encountered this missing functionality and would very much like to have it. I'm willing to implement, but I would like to understand why this issue was closed before I do.

[2019-11-26 21:04] quantumew commented on #15
@rtlong the group portion of this was implemented (link below) but the app roles were not. I am guessing it was an oversight. Reopening and updating.

https://github.com/articulate/terraform-provider-okta/tree/master/examples/okta_group_roles

[2019-11-27 20:13] ryno75 opened #359 "okta_app_saml resource will delete any group assignments created by okta_app_group_assignment"
## Expected Behavior
1. Create an AWS SAML application using `okta_app_saml` resource from module1
2. Add AD to IAM group/role mappings to the SAML application using the `okta_app_group_assignment` resource in module2 (a 2nd module is required because there are manual steps required to add AWS Access Keys to Okta, Configure IAM SAML IDP & roles, Sync AD and IAM to Okta)
3. Run an `apply` against m

[2019-11-27 20:18] ryno75 commented on #359
What's strange to me is that `okta_app_saml` is even trying to manage `groups` since it no longer has any notion of that property in the resource code.

[2019-11-27 20:27] quantumew commented on #359
@ryno75 I think you are running into #322. i.e. the legacy way of managing groups needs to be lifecycle ignored until the work to deprecate this is done #248. See example here: https://github.com/articulate/terraform-provider-okta/blob/master/examples/okta_app_group_assignment/basic.tf

[2019-11-27 20:31] ryno75 commented on #359
Ah, see this is what I get for only searching "open" issues. dangit!
Thanks for the quick reply on the workaround!
implementing this now...
[code]

[2019-11-29 18:25] brittanystoroz commented on #336
Hi there! Is this an issue I might be able to tackle? I am new to Terraform, Okta *and* Go 😂 But this looked like a nice, low-stakes way to get familiar with the technologies. Happy to submit a PR with a solution, but could probably use some guidance along the way!

[2019-11-29 18:56] quantumew commented on #336
@brittanystoroz you bet, I think this a great one to dip into first. Feel free to give it a try and I can provide feedback or answer questions.

[2019-11-30 18:50] brittanystoroz commented on #336
Hi! Here is where I'm at so far: https://github.com/brittanystoroz/terraform-provider-okta/commit/67a221d3d32b65275f25dab380a27fa9a773cd05

* I've added the ability to get a user by their ID by adding that schema to the okta user data source
* I've modified the `dataSourceUserRead` function to handle retrieving by `id` while keeping the `search` functionality in place

It looks like both `user` **

[2019-12-01 00:48] quantumew commented on #336
Hey @brittanystoroz, I don't think in this case there is any problem with separating the schemas and adding them inline. Regardless making it dynamic is definitely possible with a function. Here is a pseudo code example:

[code]

[2019-12-01 06:27] the-maldridge commented on #347
Just wanted to comment that I haven't forgotten this one but I'm out at AWS re:invent this week so I don't think I'll have time to run the test.

[2019-12-01 18:59] brittanystoroz commented on #336
Ahhhh of course!! That makes perfect sense thank you. I will separate them out for now but remember that for future contributions.

I'm looking into suppressing the diff like you mentioned in the description and having a hard time nailing down my exact goal based on the documentation. I've been reading [here](https://www.terraform.io/docs/extend/schemas/schema-behaviors.html#diffsuppressfunc) and

[2019-12-02 14:07] rachrdfds commented on #357
This should be in the official documentation (https://www.terraform.io/docs/providers/okta/r/auth_server_policy_rule.html) so you don't have to find the answer in a GitHub issue, IMHO.

[2019-12-02 14:08] rachrdfds commented on #188
This should be in the official documentation (https://www.terraform.io/docs/providers/okta/r/app_oauth.html) so you don't have to find the answer in a GitHub issue, IMHO.

[2019-12-02 14:29] rachrdfds opened #360 "okta_auth_server_policy plans correctly but fails on execution with 'conditions.clients.include: Resource not found'"
## Expected Behavior
Create an access policy for an auth server with 'Assigned to clients = a specific group'

## Actual Behavior
Terraform plans correctly but fails on the execution:
![image](https://user-images.githubusercontent.com/57186882/69966793-6c157c80-1517-11ea-8785-7297d2dbe3f7.png)

## Steps to Reproduce the Problem
`Create an Auth server:
resource okta_auth_server auth_server_selfserv

[2019-12-02 15:01] rachrdfds opened #361 "Add support for creating 'Okta API scopes'"
**Is your feature request related to a problem? Please describe.**
When creating an application that is to be used to create and maintain other Okta applications etc. in Okta, some Okta API scopes must be enabled/granted on the application.

Currently I can create the application using Terraform but the I ahve to set the Okta API scopes manually (GUI):
![image](https://user-images.githubuserconten

[2019-12-02 17:13] quantumew commented on #360
@rachrdfds It looks like you're assigning a `custom_client_id`. IIRC, this means you will want to do this: `client_whitelist = ["${okta_app_oauth.app_oauth_selfservice_swagger.client_id}"]`. Use `client_id` as opposed to `id`. Let me know if this works. I will leave this ticket open to update the docs to make this distinction more clear.

[2019-12-02 17:16] quantumew commented on #361
We will investigate this one. Often Okta only exposes features like this on their internal API which is subject to change and generally doesn't accept API token auth. If this is the case, we will open a feature request and wait for an endpoint to get publicly released.

[2019-12-03 07:32] rachrdfds commented on #360
@quantumew point taken and your suggestion is right. This 'issue' can be closed whenever you feel like it :-) Thanks.

[2019-12-04 12:33] rachrdfds commented on #361
Okta feature request for exposing Okta API scopes created: https://ideas.okta.com/app/#/case/114235

[2019-12-04 13:00] rachrdfds opened #362 "Sometimes 'produced an unexpected new value occurs' when creating lots of new objects"
## Expected Behavior
Creation of ne Okta objects without any issues

## Actual Behavior
Sometimes when I destroy and try to recreate new objects in Okta, I get a 'provider "okta" produced an unexpected new value for was present, but now absent error'.

See the first video, where you see:
- destoy all Terraform managed objects in Okta
- apply terraforming that generates correct plan and then starts

[2019-12-04 13:52] rachrdfds opened #363 "Inconsistent handling of group assignments for application"
## Expected Behavior
Group assigned on applications stays assigned.

## Actual Behavior
If I create all the Okta objects using Terraform including group assignments (okta_app_group_assignment) then the there are issue regarding keeping the groups assigned to an application. It keeps wanting to assign the group, but it never really gets assigned.

## Steps to Reproduce the Problem
Application creat

[2019-12-04 13:58] quantumew commented on #363
Can you confirm you are not running into #359? Still have an open PR with Hashicorp to get the docs updated. On hold currently.

[2019-12-04 14:08] rachrdfds commented on #363
If this (https://www.terraform.io/docs/providers/okta/r/app_saml.html) is what you mean, then I can confirm that okta_app_saml is not being used at all.

I haven't implemented this yet, is that the current workaround to use?
`lifecycle {
    ignore_changes = ["users", "groups"]
  }
`
It looks like it is not only specific for okta_app_saml but perhaps for apps in general?
Would the legacy way of as

[2019-12-04 14:11] quantumew commented on #363
@rachrdfds Yea not app specific, this applies to all apps. The `users` and `groups` attributes will be deprecated, once someone gets around to #248, so I would recommend the approach you are using + the lifecycle ignore.

[2019-12-04 14:13] rachrdfds commented on #363
Cool thanks, I will do that.
Keep up the good work, it is really appreciated :-)

[2019-12-04 14:28] rachrdfds commented on #363
Using the lifecycle-method helps regarding the group assignments, but I still see consistent 'mishandling'/interpretation of priority of group assignments (and Auth server):
![image](https://user-images.githubusercontent.com/57186882/70150365-3228af80-16aa-11ea-8f47-e9aae975268a.png)
[2019-12-04_15h25_55.zip](https://github.com/articulate/terraform-provider-okta/files/3922307/2019-12-04_15h25_55.z

[2019-12-04 14:29] rachrdfds commented on #363
hmmm, but that can't be done :-(
![image](https://user-images.githubusercontent.com/57186882/70150747-c85cd580-16aa-11ea-851c-6fad0120da8a.png)

[2019-12-04 14:38] quantumew commented on #363
You are ignoring changes to `priority` on the wrong resource. For the priority on `okta_app_group_assignment`, you can simply remove it from your config, Okta's API appears to be ignoring your value. As for the auth server policy priority, Okta is pretty fast and loose with these, for instance, if you send it `1` and it cannot move it to the top priority, Okta will dynamically set it to a dynamic

[2019-12-04 14:46] rachrdfds commented on #363
I actually don't have priority on okta_app_group_assignment:
![image](https://user-images.githubusercontent.com/57186882/70151913-8af94780-16ac-11ea-8736-0dc00a0a4087.png)

I can try to set it explicit and see if that helps.

Regarding auth server, I do set it to 1, but I'm not allowed to remove the attribute from the config:
![image](https://user-images.githubusercontent.com/57186882/70152145-fa6

[2019-12-04 14:49] quantumew commented on #363
Yea for some reason it appears Okta is updating it to 2 thus the perpetual diff on the auth server policy. Ah I see, I bet Okta is defaulting the group membership priority to 1. The provider should do the same.

https://github.com/articulate/terraform-provider-okta/blob/master/okta/resource_okta_app_group_assignment.go#L57-L60

[2019-12-04 15:01] rachrdfds commented on #363
Inserting the ignore of priority for group assignments 'removes' the changes regarding those:
![image](https://user-images.githubusercontent.com/57186882/70153367-1d024f80-16af-11ea-80c2-3ed3b0033f34.png)

I still wuite understand why in the first place these 'changes' happen when I don't set them explicit, but at least I have a work around for it.

Thanks :-)

[2019-12-04 15:03] quantumew commented on #363
Yea this would be Okta's API doing making some dynamic changes. There are various reasons for this. For instance, two policies both with overlapping priorities, one will get dynamically dropped down by Okta. The other one, is Okta adding a default the provider isn't assigning but should! Thanks!

[2019-12-04 20:43] noinarisak commented on #362
Hi @rachrdfds. Just taking a stab at this.

Is this happening every time? Could you supply an example of your terraform script that is causing this? A trace log with `TF_LOG=TRACE` would also be helpful to see if it is bug. More details on [TF_LOG](https://www.terraform.io/docs/internals/debugging.html).

[2019-12-05 08:29] rachrdfds commented on #362
Actually, it used to only happen sometimes, but now I have just applied and destructed five times and none succeeded.

I have attached a zip with three traces.
- trace with one inconsistency error
- trace with one inconsistency error and then a successfull reapply
- trace with two inconsistency errors

It is the same configuration that is used every time

[TF failing with two inconsistency errors

[2019-12-05 14:14] #319 closed

[2019-12-05 14:26] ivan-sukhomlyn opened #364 "Add IdP metadata URL attribute to okta_app_saml resource"
**Is your feature request related to a problem? Please describe.**

Currently, the **okta_app_saml** Terraform resource has a `metadata` output attribute but doesn't have an attribute related to Identity provider metadata URL that can be useful for applications that support dynamic SAML configuration.
![Screenshot 2019-12-05 at 4 21 47 PM](https://user-images.githubusercontent.com/55390366/7024350

[2019-12-05 14:29] quantumew commented on #364
Hey @ivan-sukhomlyn, we could definitely add the link to the attrs. Just an FYI there is a metadata data source for SAML apps in case that is helpful.

[2019-12-05 14:37] ivan-sukhomlyn commented on #364
Hello @quantumew
Yes, I know. Thanks!
But I saw SAML feature realization at some applications where only dynamic configuration supports and the metadata URL is required.

[2019-12-06 16:37] quantumew commented on #336
Hey @brittanystoroz, sorry missed your question, yea you have the right idea. `Computed: true` would be used when an attribute is computed in every case. In your case you want to be able to pass it an id or at times pass it search criteria and get an id back. I would recommend a new `Optional: true` attribute. `user_id` or something (this *won't* be sync'd in the read func). Doing this allows you